.footer-copyright{
    background: #383838;
    overflow: hidden;
    padding: 4rem 0 3rem;
    h4{
        font-size: 1.6rem;
        padding-bottom: 0.5rem;
        color: #fff;
        i.fa-copyright{
            font-size: 1.3rem;
            font-weight: 300;
        }
    }
    p{
        font-size: 1.4rem;
    }
}