.top-wrapper{
    background: url(../i/top_bg.jpg) no-repeat center center;
    background-size: cover;
    position: relative;
    min-height: 542px;
    &:after{
        background: url(../i/top_bg_bottom.png) no-repeat center center;
        position: absolute;
        content: '';
        bottom: 0;
        height: 117px;
        width: 100%;
    }
    .header-area{
        background: transparent;
        transition: 1s background;
        @at-root .is-sticky .header-area {
            background: #fff;
            z-index: 10 !important;
            box-shadow: 0px 0px 19px -3px rgba(0, 0, 0, 0.36);
            @media only screen and (max-width: $screen-xs-max) {
                padding-bottom: 6px;
            }
            .skydropdown-list > li > a {
                color: #008eab;
            }
        }
        .skydropdown-list.skydown-mob > li > a {
            &.like-a-button-grad{
                color: #fff;
                margin-bottom: 10px;
                padding: 9px 25px;
                &:last-child{
                    margin-bottom: 0;
                }
            }
        }
      .navbar-brand {
          display: block;
          padding-top: 1.5rem;
          @media only screen and (max-width: $screen-xs-max) {
            padding-top: 0.6rem;
          }
          img {
            @media only screen and (max-width: $screen-sm-max) {
                @include center-block;
              }
          }
        }
    }
}
.wrapper{
    .welcome-hero{
        display: flex;
        justify-content: center;
        position: relative;
        padding: 7% 0 12%;
        margin: 0;
        @media only screen and (max-width: $screen-xs-max) {
            padding: 7% 0 0%;
            text-align: center;
        }
        .header-text {
            h2 {
                font-size: 3rem;
                @media only screen and (max-width: $screen-xs-max) {
                    font: 600 2.2rem/4rem $font__header;
                }
            }
        }
    }
}
