/* raleway-regular - latin */
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  src: url('../webfonts/raleway-v13-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Raleway'), local('Raleway-Regular'),
       url('../webfonts/raleway-v13-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../webfonts/raleway-v13-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../webfonts/raleway-v13-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('../webfonts/raleway-v13-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../webfonts/raleway-v13-latin-regular.svg#Raleway') format('svg'); /* Legacy iOS */
}
/* raleway-500 - latin */
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 500;
  src: url('../webfonts/raleway-v13-latin-500.eot'); /* IE9 Compat Modes */
  src: local('Raleway Medium'), local('Raleway-Medium'),
       url('../webfonts/raleway-v13-latin-500.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../webfonts/raleway-v13-latin-500.woff2') format('woff2'), /* Super Modern Browsers */
       url('../webfonts/raleway-v13-latin-500.woff') format('woff'), /* Modern Browsers */
       url('../webfonts/raleway-v13-latin-500.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../webfonts/raleway-v13-latin-500.svg#Raleway') format('svg'); /* Legacy iOS */
}
/* raleway-600 - latin */
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 600;
  src: url('../webfonts/raleway-v13-latin-600.eot'); /* IE9 Compat Modes */
  src: local('Raleway SemiBold'), local('Raleway-SemiBold'),
       url('../webfonts/raleway-v13-latin-600.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../webfonts/raleway-v13-latin-600.woff2') format('woff2'), /* Super Modern Browsers */
       url('../webfonts/raleway-v13-latin-600.woff') format('woff'), /* Modern Browsers */
       url('../webfonts/raleway-v13-latin-600.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../webfonts/raleway-v13-latin-600.svg#Raleway') format('svg'); /* Legacy iOS */
}
/* raleway-800 - latin */
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 800;
  src: url('../webfonts/raleway-v13-latin-800.eot'); /* IE9 Compat Modes */
  src: local('Raleway ExtraBold'), local('Raleway-ExtraBold'),
       url('../webfonts/raleway-v13-latin-800.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../webfonts/raleway-v13-latin-800.woff2') format('woff2'), /* Super Modern Browsers */
       url('../webfonts/raleway-v13-latin-800.woff') format('woff'), /* Modern Browsers */
       url('../webfonts/raleway-v13-latin-800.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../webfonts/raleway-v13-latin-800.svg#Raleway') format('svg'); /* Legacy iOS */
}
/* poppins-600 - latin */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  src: url('../webfonts/poppins-v6-latin-600.eot'); /* IE9 Compat Modes */
  src: local('Poppins SemiBold'), local('Poppins-SemiBold'),
       url('../webfonts/poppins-v6-latin-600.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../webfonts/poppins-v6-latin-600.woff2') format('woff2'), /* Super Modern Browsers */
       url('../webfonts/poppins-v6-latin-600.woff') format('woff'), /* Modern Browsers */
       url('../webfonts/poppins-v6-latin-600.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../webfonts/poppins-v6-latin-600.svg#Poppins') format('svg'); /* Legacy iOS */
}

body{
  color: $color__text-main;
}
h2{
  font-size: 4.5rem;
  font-weight: 600;
  color: $color__text-h2;
}
h3{
  font-size: 1.8rem;
  font-weight: 600;
}
p{
  font-size: 1.8rem;
  font-weight: 600;
}