.wrapper{
    section{
        margin: 8.2rem 0;
    }

    /* What we do page*/
    .whatwedo{
        .price-whatwedo{
            text-align: center;
            margin: 5.4rem 0 0;
            h3 {
                margin: 15px 0;
            }
            p{
                font-size: 1.4rem;
            }
        }
    }

    /* Pricing page*/
    .pricing{
        .price-table-wrapper{
          text-align: center;
          margin-top: 30px;
          
          .featured-table{
            box-shadow: 0px 0px 19px -3px rgba(0,0,0,0.36);
          }
          
          .pricing-table{
            display: inline-block;
            border: 1px solid #008eab;
            border-radius: 10px;
            background: white;
            transition: all 0.3s ease-in-out;
            width: 100%;
            max-width: 28rem;
            margin: 0 0 2rem;

            &__header{
              padding: 10px;
              font-size: 2rem;
              color: #fff;
              border-radius: 9px;
              background: #008eab;
              line-height: 3.1rem;
              span{
                font-size: 1.6rem;
                display: block;
                font-weight: 400;
              }
            }
            &__price{
              color: #000;
              padding: 26px 20px 40px;
              margin: auto;
              font-size: 3.6rem;
              font-weight: 600;
              span{
                font-size: 1.8rem;
              }
            }
            &__button{
              display: block;
              font-size: 1.8rem;
              background: #008eab;
              text-decoration: none;
              padding: 20px;
              color: white;
              position: relative;
              overflow: hidden;
              transition: all 0.3s ease-in-out;
              
              &:before{
                position: absolute;
                left: -20%;
                top: -10%;
                content: '';
                width: 60%;
                height: 220%;
                transform: rotate(-30deg);
                background: white;
                opacity: .3;
                transition: all 0.3s ease-in-out;
              }
              
               &:after{
                  position: absolute;
                  content: '>';
                  top: 0;
                  right: 0;
                  font-size: 25px;
                  padding: 13px;
                  padding-right: 40px;
                  color: white;
                  opacity: 0;
                 transition: all 0.3s ease-in-out;
                }
              
              &:hover{
                background: #6c1b70;
              }
            }
            &__list{
              padding: 10px;
              font-size: 1.4rem;
              color: #000;
              list-style-type: none;
              li{
                padding: 10px 0 0 5px;
                text-align: left;
                i{
                    color: #008eab;
                    font-size: 20px;
                    margin-right: 1rem;
                    top: 3px;
                    position: relative;
                }
                
                &:last-child{
                  border: none;
                }
              }
            }
            
            &:hover{
              box-shadow: 0px 0px 19px -3px rgba(0,0,0,0.36);
              
              .pricing-table__button{
                padding-left: 0;
                padding-right: 35px;
               &:before{
                  top: -80%;
                  transform: rotate(0deg);
                  width: 100%;
                }
                &:after{
                  opacity: 1;
                  padding-right: 15px;
                }
              }
            }
          }
       }
    }
}
