/* alfa-slab-one-regular - latin */
@font-face {
  font-family: 'Alfa Slab One';
  font-style: normal;
  font-weight: 400;
  src: local(''),
       url('../fonts/alfa-slab-one-v10-latin-regular.woff2') format('woff2'),
       url('../fonts/alfa-slab-one-v10-latin-regular.woff') format('woff');
}
/* cabin-regular - latin */
@font-face {
  font-family: 'Cabin';
  font-style: normal;
  font-weight: 400;
  src: local(''),
       url('../fonts/cabin-v18-latin-regular.woff2') format('woff2'), 
       url('../fonts/cabin-v18-latin-regular.woff') format('woff'); 
}
/* cabin-600 - latin */
@font-face {
  font-family: 'Cabin';
  font-style: normal;
  font-weight: 600;
  src: local(''),
       url('../fonts/cabin-v18-latin-600.woff2') format('woff2'), 
       url('../fonts/cabin-v18-latin-600.woff') format('woff'); 
}
/* cabin-italic - latin */
@font-face {
  font-family: 'Cabin';
  font-style: italic;
  font-weight: 400;
  src: local(''),
       url('../fonts/cabin-v18-latin-italic.woff2') format('woff2'), 
       url('../fonts/cabin-v18-latin-italic.woff') format('woff'); 
}
/* cabin-600italic - latin */
@font-face {
  font-family: 'Cabin';
  font-style: italic;
  font-weight: 600;
  src: local(''),
       url('../fonts/cabin-v18-latin-600italic.woff2') format('woff2'), 
       url('../fonts/cabin-v18-latin-600italic.woff') format('woff'); 
}

*,
:after,
:before {
    -webkit-box-sizing: border-box;
    box-sizing: border-box
}

html {
    line-height: 1.15;
    -webkit-text-size-adjust: 100%
}

body {
    margin: 0;
    font-family: Cabin, sans-serif;
    font-size: 20px;
    line-height: 28px;
    color: #494d4e;
    font-weight: 400;
    background: #212121;
}

.sr {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px
}

code,
kbd,
pre,
samp {
    font-family: monospace, monospace;
    font-size: 1rem
}

button,
input,
optgroup,
select,
textarea {
    font-family: inherit;
    font-size: 100%;
    line-height: 1.15;
    margin: 0
}

button,
input {
    overflow: visible
}

button,
select {
    text-transform: none
}

[type=button],
[type=reset],
[type=submit],
button {
    -webkit-appearance: button
}

[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner,
button::-moz-focus-inner {
    border-style: none;
    padding: 0
}

[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring,
button:-moz-focusring {
    outline: 1px dotted ButtonText
}

fieldset {
    padding: .35em .75em .625em
}

legend {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    color: inherit;
    display: table;
    max-width: 100%;
    padding: 0;
    white-space: normal
}

progress {
    vertical-align: baseline
}

textarea {
    overflow: auto
}

[type=checkbox],
[type=radio] {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0
}

[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
    height: auto
}

[type=search] {
    -webkit-appearance: textfield;
    outline-offset: -2px
}

[type=search]::-webkit-search-decoration {
    -webkit-appearance: none
}

::-webkit-file-upload-button {
    -webkit-appearance: button;
    font: inherit
}

table {
    text-align: left;
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    margin: 0;
    border: 1px solid #e9e9e9
}

table td,
table th {
    padding: 1rem;
    border-bottom: 1px solid #e9e9e9;
    border-right: 1px solid #e9e9e9
}

table tr:nth-child(2n) {
    background-color: #f6f8fa
}

.container {
    max-width: 1800px;
    padding-left: 5px;
    padding-right: 5px;
    margin-left: auto;
    margin-right: auto
}

@media only screen and (min-width:768px) {
    .container-m {
        width: 736px;
        max-width: auto;
        padding-left: 16px;
        padding-right: 16px;
        margin-left: auto;
        margin-right: auto
    }
}

@media only screen and (min-width:980px) {
    .container-l {
        width: 948px;
        max-width: auto;
        padding-left: 16px;
        padding-right: 16px;
        margin-left: auto;
        margin-right: auto
    }
}

@media only screen and (min-width:1200px) {
    .container-xl {
        width: 1168px;
        max-width: auto;
        padding-left: 16px;
        padding-right: 16px;
        margin-left: auto;
        margin-right: auto
    }
}

.row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    position: relative;
    margin-left: -16px;
    margin-right: -16px
}

.col-1,
.col-1-2,
.col-1-3,
.col-1-4,
.col-1-5,
.col-2,
.col-2-3,
.col-2-5,
.col-3,
.col-3-4,
.col-3-5,
.col-4,
.col-4-5,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-10,
.col-11,
.col-12 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    padding-left: 16px;
    padding-right: 16px
}

.col-1 {
    -ms-flex: 0 0 8.3333333333%;
    flex: 0 0 8.3333333333%;
    max-width: 8.3333333333%
}

.col-1,
.col-2 {
    -webkit-box-flex: 0
}

.col-2 {
    -ms-flex: 0 0 16.6666666667%;
    flex: 0 0 16.6666666667%;
    max-width: 16.6666666667%
}

.col-3 {
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%
}

.col-3,
.col-4 {
    -webkit-box-flex: 0
}

.col-4 {
    -ms-flex: 0 0 33.3333333333%;
    flex: 0 0 33.3333333333%;
    max-width: 33.3333333333%
}

.col-5 {
    -ms-flex: 0 0 41.6666666667%;
    flex: 0 0 41.6666666667%;
    max-width: 41.6666666667%
}

.col-5,
.col-6 {
    -webkit-box-flex: 0
}

.col-6 {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%
}

.col-7 {
    -ms-flex: 0 0 58.3333333333%;
    flex: 0 0 58.3333333333%;
    max-width: 58.3333333333%
}

.col-7,
.col-8 {
    -webkit-box-flex: 0
}

.col-8 {
    -ms-flex: 0 0 66.6666666667%;
    flex: 0 0 66.6666666667%;
    max-width: 66.6666666667%
}

.col-9 {
    -ms-flex: 0 0 75%;
    flex: 0 0 75%;
    max-width: 75%
}

.col-9,
.col-10 {
    -webkit-box-flex: 0
}

.col-10 {
    -ms-flex: 0 0 83.3333333333%;
    flex: 0 0 83.3333333333%;
    max-width: 83.3333333333%
}

.col-11 {
    -ms-flex: 0 0 91.6666666667%;
    flex: 0 0 91.6666666667%;
    max-width: 91.6666666667%
}

.col-11,
.col-12 {
    -webkit-box-flex: 0
}

.col-12 {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%
}

.col-1-2 {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%
}

.col-1-2,
.col-1-3 {
    -webkit-box-flex: 0
}

.col-1-3 {
    -ms-flex: 0 0 33.3333333333%;
    flex: 0 0 33.3333333333%;
    max-width: 33.3333333333%
}

.col-2-3 {
    -ms-flex: 0 0 66.6666666667%;
    flex: 0 0 66.6666666667%;
    max-width: 66.6666666667%
}

.col-1-4,
.col-2-3 {
    -webkit-box-flex: 0
}

.col-1-4 {
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%
}

.col-3-4 {
    -ms-flex: 0 0 75%;
    flex: 0 0 75%;
    max-width: 75%
}

.col-1-5,
.col-3-4 {
    -webkit-box-flex: 0
}

.col-1-5 {
    -ms-flex: 0 0 20%;
    flex: 0 0 20%;
    max-width: 20%
}

.col-2-5 {
    -ms-flex: 0 0 40%;
    flex: 0 0 40%;
    max-width: 40%
}

.col-2-5,
.col-3-5 {
    -webkit-box-flex: 0
}

.col-3-5 {
    -ms-flex: 0 0 60%;
    flex: 0 0 60%;
    max-width: 60%
}

.col-4-5 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 80%;
    flex: 0 0 80%;
    max-width: 80%
}

.col-full {
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    max-width: 100%
}

@media only screen and (min-width:768px) {
    .row-m {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        position: relative;
        margin-left: -16px;
        margin-right: -16px
    }

    .col-1-2-m,
    .col-1-3-m,
    .col-1-4-m,
    .col-1-5-m,
    .col-1-m,
    .col-2-3-m,
    .col-2-5-m,
    .col-2-m,
    .col-3-4-m,
    .col-3-5-m,
    .col-3-m,
    .col-4-5-m,
    .col-4-m,
    .col-5-m,
    .col-6-m,
    .col-7-m,
    .col-8-m,
    .col-9-m,
    .col-10-m,
    .col-11-m,
    .col-12-m {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
        padding-left: 16px;
        padding-right: 16px
    }

    .col-1-m {
        -ms-flex: 0 0 8.3333333333%;
        flex: 0 0 8.3333333333%;
        max-width: 8.3333333333%
    }

    .col-1-m,
    .col-2-m {
        -webkit-box-flex: 0
    }

    .col-2-m {
        -ms-flex: 0 0 16.6666666667%;
        flex: 0 0 16.6666666667%;
        max-width: 16.6666666667%
    }

    .col-3-m {
        -ms-flex: 0 0 25%;
        flex: 0 0 25%;
        max-width: 25%
    }

    .col-3-m,
    .col-4-m {
        -webkit-box-flex: 0
    }

    .col-4-m {
        -ms-flex: 0 0 33.3333333333%;
        flex: 0 0 33.3333333333%;
        max-width: 33.3333333333%
    }

    .col-5-m {
        -ms-flex: 0 0 41.6666666667%;
        flex: 0 0 41.6666666667%;
        max-width: 41.6666666667%
    }

    .col-5-m,
    .col-6-m {
        -webkit-box-flex: 0
    }

    .col-6-m {
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%
    }

    .col-7-m {
        -ms-flex: 0 0 58.3333333333%;
        flex: 0 0 58.3333333333%;
        max-width: 58.3333333333%
    }

    .col-7-m,
    .col-8-m {
        -webkit-box-flex: 0
    }

    .col-8-m {
        -ms-flex: 0 0 66.6666666667%;
        flex: 0 0 66.6666666667%;
        max-width: 66.6666666667%
    }

    .col-9-m {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 75%;
        flex: 0 0 75%;
        max-width: 75%
    }

    .col-10-m {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 83.3333333333%;
        flex: 0 0 83.3333333333%;
        max-width: 83.3333333333%
    }

    .col-11-m {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 91.6666666667%;
        flex: 0 0 91.6666666667%;
        max-width: 91.6666666667%
    }

    .col-12-m {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%
    }

    .col-1-2-m {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%
    }

    .col-1-3-m {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 33.3333333333%;
        flex: 0 0 33.3333333333%;
        max-width: 33.3333333333%
    }

    .col-2-3-m {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 66.6666666667%;
        flex: 0 0 66.6666666667%;
        max-width: 66.6666666667%
    }

    .col-1-4-m {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 25%;
        flex: 0 0 25%;
        max-width: 25%
    }

    .col-3-4-m {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 75%;
        flex: 0 0 75%;
        max-width: 75%
    }

    .col-1-5-m {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 20%;
        flex: 0 0 20%;
        max-width: 20%
    }

    .col-2-5-m {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 40%;
        flex: 0 0 40%;
        max-width: 40%
    }

    .col-3-5-m {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 60%;
        flex: 0 0 60%;
        max-width: 60%
    }

    .col-4-5-m {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 80%;
        flex: 0 0 80%;
        max-width: 80%
    }

    .col-full-m {
        -webkit-box-flex: 1;
        -ms-flex-positive: 1;
        flex-grow: 1;
        -ms-flex-preferred-size: 0;
        flex-basis: 0;
        max-width: 100%
    }
}

@media only screen and (min-width:980px) {
    .row-l {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        position: relative;
        margin-left: -16px;
        margin-right: -16px
    }

    .col-1-2-l,
    .col-1-3-l,
    .col-1-4-l,
    .col-1-5-l,
    .col-1-l,
    .col-2-3-l,
    .col-2-5-l,
    .col-2-l,
    .col-3-4-l,
    .col-3-5-l,
    .col-3-l,
    .col-4-5-l,
    .col-4-l,
    .col-5-l,
    .col-6-l,
    .col-7-l,
    .col-8-l,
    .col-9-l,
    .col-10-l,
    .col-11-l,
    .col-12-l {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
        padding-left: 16px;
        padding-right: 16px
    }

    .col-1-l {
        -ms-flex: 0 0 8.3333333333%;
        flex: 0 0 8.3333333333%;
        max-width: 8.3333333333%
    }

    .col-1-l,
    .col-2-l {
        -webkit-box-flex: 0
    }

    .col-2-l {
        -ms-flex: 0 0 16.6666666667%;
        flex: 0 0 16.6666666667%;
        max-width: 16.6666666667%
    }

    .col-3-l {
        -ms-flex: 0 0 25%;
        flex: 0 0 25%;
        max-width: 25%
    }

    .col-3-l,
    .col-4-l {
        -webkit-box-flex: 0
    }

    .col-4-l {
        -ms-flex: 0 0 33.3333333333%;
        flex: 0 0 33.3333333333%;
        max-width: 33.3333333333%
    }

    .col-5-l {
        -ms-flex: 0 0 41.6666666667%;
        flex: 0 0 41.6666666667%;
        max-width: 41.6666666667%
    }

    .col-5-l,
    .col-6-l {
        -webkit-box-flex: 0
    }

    .col-6-l {
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%
    }

    .col-7-l {
        -ms-flex: 0 0 58.3333333333%;
        flex: 0 0 58.3333333333%;
        max-width: 58.3333333333%
    }

    .col-7-l,
    .col-8-l {
        -webkit-box-flex: 0
    }

    .col-8-l {
        -ms-flex: 0 0 66.6666666667%;
        flex: 0 0 66.6666666667%;
        max-width: 66.6666666667%
    }

    .col-9-l {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 75%;
        flex: 0 0 75%;
        max-width: 75%
    }

    .col-10-l {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 83.3333333333%;
        flex: 0 0 83.3333333333%;
        max-width: 83.3333333333%
    }

    .col-11-l {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 91.6666666667%;
        flex: 0 0 91.6666666667%;
        max-width: 91.6666666667%
    }

    .col-12-l {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%
    }

    .col-1-2-l {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%
    }

    .col-1-3-l {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 33.3333333333%;
        flex: 0 0 33.3333333333%;
        max-width: 33.3333333333%
    }

    .col-2-3-l {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 66.6666666667%;
        flex: 0 0 66.6666666667%;
        max-width: 66.6666666667%
    }

    .col-1-4-l {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 25%;
        flex: 0 0 25%;
        max-width: 25%
    }

    .col-3-4-l {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 75%;
        flex: 0 0 75%;
        max-width: 75%
    }

    .col-1-5-l {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 20%;
        flex: 0 0 20%;
        max-width: 20%
    }

    .col-2-5-l {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 40%;
        flex: 0 0 40%;
        max-width: 40%
    }

    .col-3-5-l {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 60%;
        flex: 0 0 60%;
        max-width: 60%
    }

    .col-4-5-l {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 80%;
        flex: 0 0 80%;
        max-width: 80%
    }

    .col-full-l {
        -webkit-box-flex: 1;
        -ms-flex-positive: 1;
        flex-grow: 1;
        -ms-flex-preferred-size: 0;
        flex-basis: 0;
        max-width: 100%
    }
}

@media only screen and (min-width:1200px) {
    .row-xl {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        position: relative;
        margin-left: -16px;
        margin-right: -16px
    }

    .col-1-2-xl,
    .col-1-3-xl,
    .col-1-4-xl,
    .col-1-5-xl,
    .col-1-xl,
    .col-2-3-xl,
    .col-2-5-xl,
    .col-2-xl,
    .col-3-4-xl,
    .col-3-5-xl,
    .col-3-xl,
    .col-4-5-xl,
    .col-4-xl,
    .col-5-xl,
    .col-6-xl,
    .col-7-xl,
    .col-8-xl,
    .col-9-xl,
    .col-10-xl,
    .col-11-xl,
    .col-12-xl {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
        padding-left: 16px;
        padding-right: 16px
    }

    .col-1-xl {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 8.3333333333%;
        flex: 0 0 8.3333333333%;
        max-width: 8.3333333333%
    }

    .col-2-xl {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 16.6666666667%;
        flex: 0 0 16.6666666667%;
        max-width: 16.6666666667%
    }

    .col-3-xl {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 25%;
        flex: 0 0 25%;
        max-width: 25%
    }

    .col-4-xl {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 33.3333333333%;
        flex: 0 0 33.3333333333%;
        max-width: 33.3333333333%
    }

    .col-5-xl {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 41.6666666667%;
        flex: 0 0 41.6666666667%;
        max-width: 41.6666666667%
    }

    .col-6-xl {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%
    }

    .col-7-xl {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 58.3333333333%;
        flex: 0 0 58.3333333333%;
        max-width: 58.3333333333%
    }

    .col-8-xl {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 66.6666666667%;
        flex: 0 0 66.6666666667%;
        max-width: 66.6666666667%
    }

    .col-9-xl {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 75%;
        flex: 0 0 75%;
        max-width: 75%
    }

    .col-10-xl {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 83.3333333333%;
        flex: 0 0 83.3333333333%;
        max-width: 83.3333333333%
    }

    .col-11-xl {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 91.6666666667%;
        flex: 0 0 91.6666666667%;
        max-width: 91.6666666667%
    }

    .col-12-xl {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%
    }

    .col-1-2-xl {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%
    }

    .col-1-3-xl {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 33.3333333333%;
        flex: 0 0 33.3333333333%;
        max-width: 33.3333333333%
    }

    .col-2-3-xl {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 66.6666666667%;
        flex: 0 0 66.6666666667%;
        max-width: 66.6666666667%
    }

    .col-1-4-xl {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 25%;
        flex: 0 0 25%;
        max-width: 25%
    }

    .col-3-4-xl {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 75%;
        flex: 0 0 75%;
        max-width: 75%
    }

    .col-1-5-xl {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 20%;
        flex: 0 0 20%;
        max-width: 20%
    }

    .col-2-5-xl {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 40%;
        flex: 0 0 40%;
        max-width: 40%
    }

    .col-3-5-xl {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 60%;
        flex: 0 0 60%;
        max-width: 60%
    }

    .col-4-5-xl {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 80%;
        flex: 0 0 80%;
        max-width: 80%
    }

    .col-full-xl {
        -webkit-box-flex: 1;
        -ms-flex-positive: 1;
        flex-grow: 1;
        -ms-flex-preferred-size: 0;
        flex-basis: 0;
        max-width: 100%
    }
}

details,
main {
    display: block
}

a {
    background-color: rgba(0, 0, 0, 0)
}

.b,
.strong,
b,
strong {
    font-weight: 700
}

.em,
em {
    font-style: italic
}

hr {
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
    height: 0;
    overflow: visible
}

abbr[title] {
    border-bottom: none;
    text-decoration: underline;
    -webkit-text-decoration: underline dotted;
    text-decoration: underline dotted
}

.small,
small {
    font-size: .8125rem
}

sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline
}

sub {
    bottom: -.25em
}

sup {
    top: -.5em
}

img {
    border-style: none
}

[hidden],
template {
    display: none
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Alfa Slab One', cursive;
    margin: .5rem 0
}

.h1,
h1 {
    font-size: 48px;
    line-height: 64px
}

.h2,
h2 {
    font-size: 30px;
    line-height: 40px
}

.h3,
h3 {
    font-size: 22px;
    line-height: 28px
}

.h4,
h4 {
    font-size: 18px;
    line-height: 24px
}

.h5,
h5 {
    font-size: 16px;
    line-height: 22px
}

.h6,
h6 {
    font-size: 14px;
    line-height: 20px
}

@-webkit-keyframes fadeIn {
    0% {
        opacity: 0
    }

    to {
        opacity: 1
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0
    }

    to {
        opacity: 1
    }
}

.block.active img,
.banner-buttons,
.banner-lead-1,
.banner-lead-2,
.banner-lead:after,
.fade-in,
.ingredients-block.active,
.ingredients-block.active .feature-box,
.reviews-block.active,
.reviews-block.active .feature-box {
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn
}

@-webkit-keyframes fadeInDown {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, -30px, 0);
        transform: translate3d(0, -30px, 0)
    }

    to {
        opacity: 1;
        -webkit-transform: none;
        transform: none
    }
}

@keyframes fadeInDown {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, -30px, 0);
        transform: translate3d(0, -30px, 0)
    }

    to {
        opacity: 1;
        -webkit-transform: none;
        transform: none
    }
}

.block.active h2,
.block.active p,
.block.active ul,
.fade-in-down,
.ingredients-block.active .feature-box h2,
.reviews-block.active .feature-box h2 {
    -webkit-animation-name: fadeInDown;
    animation-name: fadeInDown
}

@-webkit-keyframes fadeInLeft {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(-30px, 0, 0);
        transform: translate3d(-30px, 0, 0)
    }

    to {
        opacity: 1;
        -webkit-transform: none;
        transform: none
    }
}

@keyframes fadeInLeft {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(-30px, 0, 0);
        transform: translate3d(-30px, 0, 0)
    }

    to {
        opacity: 1;
        -webkit-transform: none;
        transform: none
    }
}

.fade-in-left, #block-3.active .box-img,
.food-menu-block.active .food-menu-content:first-child,
.reservations-block.active .reservation-block-form,
.reservations-block.active .reservation-block-img,
.reservations-block.active .reservation-block-img:first-child {
    -webkit-animation-name: fadeInLeft;
    animation-name: fadeInLeft
}

@-webkit-keyframes fadeInRight {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(30px, 0, 0);
        transform: translate3d(30px, 0, 0)
    }

    to {
        opacity: 1;
        -webkit-transform: none;
        transform: none
    }
}

@keyframes fadeInRight {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(30px, 0, 0);
        transform: translate3d(30px, 0, 0)
    }

    to {
        opacity: 1;
        -webkit-transform: none;
        transform: none
    }
}

#block-1.active .box-img,
#block-4.active .box-img,
.block.active .block-img,
.fade-in-right,
.food-menu-block.active .food-menu-content {
    -webkit-animation-name: fadeInRight;
    animation-name: fadeInRight
}

@-webkit-keyframes fadeInUp {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, 30px, 0);
        transform: translate3d(0, 30px, 0)
    }

    to {
        opacity: 1;
        -webkit-transform: none;
        transform: none
    }
}

@keyframes fadeInUp {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, 30px, 0);
        transform: translate3d(0, 30px, 0)
    }

    to {
        opacity: 1;
        -webkit-transform: none;
        transform: none
    }
}

.fade-in-up,
.ingredients-block.active .feature-box .feature-image,
.ingredients-block.active .feature-box p,
.reviews-block.active .feature-box blockquote {
    -webkit-animation-name: fadeInUp;
    animation-name: fadeInUp
}

.margin-0,
.no-margin {
    margin: 0
}

.heading {
    font-family: 'Alfa Slab One', cursive;
    color: #cd9f0b;
    margin: 0
}

.heading-primary {
    color: #c90;
    text-align: center
}

.heading-primary:after {
    content: "";
    width: 270px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    background: url(../img/divider-gold.svg) 50% 50% no-repeat;
    height: 40px;
    margin-bottom: 20px
}

.heading-secondary {
    color: #fff;
    text-align: center
}

.heading-secondary:after {
    content: "";
    width: 270px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    background: url(../img/divider-white.svg) 50% 50% no-repeat;
    height: 35px;
    margin-bottom: 20px
}

blockquote {
    font-family: Cabin, sans-serif;
    font-weight: 400;
    font-style: italic
}

cite {
    font-style: normal
}

.button,
cite {
    font-weight: 700
}

.button {
    color: #fff;
    padding: 1rem 3rem;
    text-decoration: none;
    border: 1px solid rgba(0, 0, 0, 0);
    background: #c90;
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
    display: inline-block;
    text-transform: uppercase;
    position: relative
}

.button:hover {
    background: #cd9f0b;
    color: #fff
}

.button:active {
    top: 1px
}

.button-primary {
    border: 1px solid #000;
    background-color: #000;
    background-color: rgba(0, 0, 0, .5)
}

.button-primary:hover {
    background-color: #000
}

.button-secondary {
    border: 1px solid #fff;
    background-color: #fff;
    background-color: hsla(0, 0%, 100%, .15)
}

.button-secondary:hover {
    background-color: #fff;
    background-color: hsla(0, 0%, 100%, 0)
}

.feature-box {
    padding: 20px 10px;
    color: #fff;
    background-color: #000;
    background-color: rgba(0, 0, 0, .8)
}

@media only screen and (min-width:768px) {
    .feature-box {
        padding: 50px
    }
}

.select {
    position: relative;
    display: block
}

.select:before {
    content: "";
    border: 6px solid rgba(0, 0, 0, 0);
    border-top-color: #676767;
    top: 50%;
    right: 10px;
    margin-top: -3px;
    pointer-events: none;
    position: absolute
}

.select select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    height: 36px;
    width: 100%;
    padding: 0 10px;
    line-height: normal;
    border: 1px solid #ccc;
    background: #fff;
    display: block
}

.select select:focus {
    border-color: #c90
}

.list-none {
    list-style: none;
    padding: 0;
    margin: 0
}

.img-fluid {
    max-width: 100%
}

.social {
    width: 16px;
    height: 25px;
    top: 7px;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    display: block;
    position: relative;
    -webkit-transition: all .2s;
    -o-transition: all .2s;
    transition: all .2s
}

.social-facebook {
    background-image: url(../img/facebook-white.svg)
}

.social-twitter {
    background-image: url(../img/twitter-white.svg)
}

.social-youtube {
    background-image: url(../img/youtube-white.svg)
}

.social-google-plus {
    background-image: url(../img/google-plus-white.svg)
}

.payment {
    width: 40px;
    height: 40px;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    display: block;
    position: relative
}

.payment-mastercard {
    background-image: url(../img/mastercard-white.svg)
}

.payment-visa {
    background-image: url(../img/visa-white.svg)
}

.payment-american-express {
    background-image: url(../img/american-express-white.svg)
}

.payment-paypal {
    background-image: url(../img/paypal-white.svg)
}

.content-block {
    background: #f6f6f6
}

.bot_head_separator{
    background-color: #000;
    height: 15px;
    position: relative;
}
.bot_head_separator:before {
    position: absolute;
    content: '';
    background: url(../img/lh_logo.webp) center 0 / contain no-repeat;
    max-width: 180px;
    height: 180px;
    z-index: 10;
    left: 0;
    bottom: -82px;
    right: 0;
    margin: 0 auto;
}
@media only screen and (min-width:980px) {
    .bot_head_separator:before {
        max-width: 250px;
        height: 250px;
        bottom: -120px;
    }
}
@media only screen and (min-width:1980px) {
    .bot_head_separator:before {
        max-width: 333px;
        height: 333px;
        bottom: -157px;
    }
}

.header {
    padding-bottom: 15px;
    z-index: 100;
}

@media only screen and (min-width:768px) {
    .header {
        opacity: .9
    }
}

.header:after {
    content: "";
    width: 100%;
    height: 1px;
    background-color: #fff;
    background-color: hsla(0, 0%, 100%, .2);
    position: absolute;
    bottom: 0;
    left: 0
}

.logo {
    width: 160px;
    height: 55px;
    /* background: url(../img/logo.svg) 50% 50% no-repeat; */
    display: inline-block;
    -webkit-transition: all .2s;
    -o-transition: all .2s;
    transition: all .2s;
    opacity: 1;
    margin-top: 10px
}

.logo:hover {
    opacity: .8
}

.banner {
    background: url(../img/header_600.webp) center 0 / cover no-repeat #111;
    position: relative;
        padding-bottom: 33.35%;
}

@media (max-width:768px) and (min-width:600px ){
    div.banner {    
        /* background-position-y: 110px; */
    }
}
@media only screen and (min-width:600px) {
    .banner {
        background: url(../img/header_1000.webp) center 0 / cover no-repeat #111;
    }
}
@media only screen and (min-width:1000px) {
    .banner {
        background: url(../img/header_1920.webp) 0 0 / 100% 100% no-repeat #111;
        height: 0;
    }
}
@media only screen and (min-width:1920px) {
    .banner {
        background: url(../img/header_4000.webp) 0 0 / 100% 100% no-repeat #111;
    }
    .banner-inner {
        position: absolute;
        top: 27%;
        left: 0;
        right: 0;
    }
}

.banner-lead {
    color: #fff;
    font-weight: 400
}

.banner .banner-inner { 
    padding: 50px 0;
}

/* .banner-lead:after {
    content: "";
    width: 270px;
    display: block;
    background: url(../img/divider-xl-white.svg) 50% 50% no-repeat;
    height: 55px;
    margin: 20px auto 0;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-delay: 1s;
    animation-delay: 1s
} */

@media only screen and (min-width:980px) {
    .banner-lead {
        font-size: 70px;
        line-height: 90px
    }
}

@media only screen and (min-width:1200px) {
    .banner-lead {
        font-size: 80px;
        line-height: 100px
    }
}

.banner-lead-1,
.banner-lead-2 {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both
}

@media only screen and (min-width:768px) {

    .banner-lead-1,
    .banner-lead-2 {
        display: block
    }
}

.banner-lead-1 {
    -webkit-animation-delay: .4s;
    animation-delay: .4s
}

.banner-lead-2 {
    -webkit-animation-delay: .8s;
    animation-delay: .8s
}

.banner-buttons {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-delay: 1.4s;
    animation-delay: 1.4s
}

.banner-buttons .button {
    margin: .25rem
}

.navigation-toggle-label {
    font-size: 16px;
    line-height: normal;
    border: 0;
    font-weight: 700;
    text-transform: uppercase;
    display: block;
    position: absolute;
    top: 32px;
    right: 20px;
    height: 20px;
    width: 25px;
    background: rgba(0, 0, 0, 0);
    color: #fff;
    cursor: pointer
}

@media only screen and (min-width:768px) {
    .navigation-toggle-label {
        display: none
    }
}

.navigation-toggle-label .navigation-toggle-label-inner:before,
.navigation-toggle-label:after,
.navigation-toggle-label:before {
    content: "";
    width: 25px;
    height: 1px;
    background: #fff;
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    -webkit-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s
}

.navigation-toggle-label:after {
    -webkit-transform: translate3d(0, 7px, 0);
    transform: translate3d(0, 7px, 0)
}

.navigation-toggle-label .navigation-toggle-label-inner:before {
    -webkit-transform: translate3d(0, 14px, 0);
    transform: translate3d(0, 14px, 0)
}

.navigation-toggle-checkbox[type=checkbox]:checked+.navigation-toggle-label:before {
    -webkit-transform: translate3d(0, 7px, 0) rotate(-225deg);
    transform: translate3d(0, 7px, 0) rotate(-225deg)
}

.navigation-toggle-checkbox[type=checkbox]:checked+.navigation-toggle-label:after {
    opacity: 0
}

.navigation-toggle-checkbox[type=checkbox]:checked+.navigation-toggle-label .navigation-toggle-label-inner:before {
    -webkit-transform: translate3d(0, 7px, 0) rotate(45deg);
    transform: translate3d(0, 7px, 0) rotate(45deg)
}

.navigation {
    /* -webkit-transition: all .2s;
    -o-transition: all .2s;
    transition: all .2s; */
    opacity: 0;
    max-height: 0px;
    /* overflow: hidden; */
    clear: both
}

@media only screen and (min-width:768px) {
    .navigation {
        max-height: none;
        opacity: 1;
        margin-top: 0;
        clear: none
    }
}

@media only screen and (max-width:768px) {
    .navigation-toggle-checkbox[type=checkbox]:checked+.navigation-toggle-label+.navigation {
        opacity: 1;
        max-height: 100%;
        padding: 10px 15px 15px;
        border-radius: 20px;
        border: 1px solid #cccccc2b;
        position: absolute;
        z-index: 100;
        background: #212121;
        right: 15px;
        top: 66px;
    }
}

.navigation-menu {
    font-size: 18px;
    line-height: 20px;
    list-style: none;
    padding: 0;
    margin: 0
}

@media only screen and (min-width:768px) {
    .navigation-menu {
        font-size: 16px;
        line-height: 20px;
        list-style: none;
        margin: 0;
        padding: 0;
        display: inline-block
    }
}

.navigation-menu .navigation-item {
    display: block;
    text-align: left;
    margin-top: 10px
}

@media only screen and (min-width:768px) {
    .navigation-menu .navigation-item {
        display: inline-block;
        margin: 0 5px
    }
}

.navigation-menu .navigation-item>a {
    font-family: Cabin, cursive;
    margin: 0;
    display: block;
    color: #fff;
    text-decoration: none;
    position: relative;
    -webkit-transition: all .2s;
    -o-transition: all .2s;
    transition: all .2s
}

@media only screen and (min-width:768px) {
    .navigation-menu .navigation-item>a {
        margin: 0;
        color: #fff;
        padding: 28px 2px 0;
        position: relative
    }

    .navigation-menu .navigation-item>a:before {
        -webkit-transition: all .2s;
        -o-transition: all .2s;
        transition: all .2s;
        width: 0;
        height: 4px;
        background: #fff;
        content: "";
        display: block;
        top: 0;
        left: 50%;
        position: absolute
    }
}

@media only screen and (min-width:980px) {
    .navigation-menu .navigation-item>a {
        padding: 28px 15px 0
    }
}

.navigation-menu .navigation-item>a.active,
.navigation-menu .navigation-item>a:hover {
    color: #c90
}

@media only screen and (min-width:768px) {

    .navigation-menu .navigation-item>a.active,
    .navigation-menu .navigation-item>a:hover {
        color: #fff
    }

    .navigation-menu .navigation-item>a.active:before,
    .navigation-menu .navigation-item>a:hover:before {
        left: 0;
        width: 100%
    }
}

.navigation-social {
    list-style: none;
    padding: 0;
    display: block;
    position: relative;
    margin: 15px 0 0
}

@media only screen and (min-width:768px) {
    .navigation-social {
        list-style: none;
        margin: 0;
        padding: 0
    }

    .navigation-social,
    .navigation-social>li {
        display: inline-block
    }
}

.navigation-social>li {
    display: inline-block
}

.navigation-social:before {
    content: "";
    width: 100%;
    height: 1px;
    background-color: #fff;
    background-color: hsla(0, 0%, 100%, .2);
    position: relative;
    top: 0;
    left: 0;
    display: block
}

@media only screen and (min-width:768px) {
    .navigation-social:before {
        display: none
    }
}

@media only screen and (min-width:1000px) {
    .block-inner{
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        height: fit-content;
        right: 0;
        margin: auto;
        z-index: 1;
    }
    #block-2 .block-inner{
        bottom: 30%;
    }
}

.list-box{
    position: relative;
    list-style: none;
    margin: 0;
    padding: 0;
    font: bold 30px/33px 'Alfa Slab One', cursive;
}
@media (max-width: 1764px) and (min-width: 980px) {
    .list-box{
        font: bold 28px/140px 'Alfa Slab One', cursive;
    }
    ul.list-box li:before{
        width: 100px;
        height: 115px;
    }
}
@media only screen and (max-width: 600px) {
    .list-box{
        font: bold 24px/33px 'Alfa Slab One', cursive;
    }
    ul.list-box li:before{
        width: 80px;
        height: 96px;
    }
}
@media only screen and (min-width:1765px) {
    .list-box{
        font: bold 60px/210px 'Alfa Slab One', cursive;
    }
}
.list-box li{
    display: flex;
    align-items: center;
}
.list-box li:before{
    background-repeat: no-repeat;
    display: block;
    content: '';
    width: 140px;
    height: 170px;
}
.list-box li:nth-child(1):before{
    background-image: url(../img/list-heads.svg#list1);
}
.list-box li:nth-child(2):before{
    background-image: url(../img/list-heads.svg#list2);
}
.list-box li:nth-child(3):before{
    background-image: url(../img/list-heads.svg#list3);
}

.box-img{
    position: absolute;
    width: 50%;
}
@media only screen and (min-width:1000px) {
    .box-img{
        width: 34%;
    }
}
@media only screen and (max-width:979px) {
    .box-img{
        width: 90%;
        position: relative;
        left: 0;
        right: 0;
        display: block;
        bottom: 0;
        margin: 0 auto;
    }
}

#block-1 {
    background: url(../img/1_600.webp) center bottom / cover no-repeat #f9a166;
    position: relative;
    z-index: 5;
}
@media only screen and (min-width:980px) {
    #block-1 .box-img{
        right: 1%;
        bottom: 2%;
        width: 57%;
    }
}
@media only screen and (min-width:600px) {
    #block-1 {
        background: url(../img/1_1000.webp) center bottom / cover no-repeat #f9a166;
    }
}
@media only screen and (min-width:1000px) {
    #block-1 {
        background: url(../img/1_1920.webp) center bottom / cover no-repeat #f9a166;
        padding-bottom: 48%;
        height: 0;
    }
}
@media only screen and (min-width:1920px) {
    #block-1 {
        background: url(../img/1_4000.webp) center 0 / 100% 100% no-repeat #f9a166;
    }
    #block-1 .box-img {
        width: 50%;
    }
}

#block-2 {
    background: url(../img/2_600.webp) center bottom / cover no-repeat #dd6626;
    position: relative;
    z-index: 4;
}
@media only screen and (min-width:600px) {
    #block-2 {
        background: url(../img/2_1000.webp) center bottom / cover no-repeat #dd6626;
    }
}
@media only screen and (min-width:1000px) {
    #block-2 {
        background: url(../img/2_1920.webp) center bottom / cover no-repeat #dd6626;
        padding-bottom: 59%;
        height: 0;
    }
}
@media only screen and (min-width:1920px) {
    #block-2 {
        background: url(../img/2_4000.webp) center 0 / 100% 100% no-repeat #dd6626;
    }
}

#block-3 {
    background: url(../img/3_600.webp) center bottom / cover no-repeat #111;
    position: relative;
    z-index: 3;
}
#block-3 .box-img{
    bottom: 17%;
}
@media only screen and (min-width:600px) {
    #block-3 {
        background: url(../img/3_1000.webp) center bottom / cover no-repeat #111;
    }
}
@media only screen and (min-width:1000px) {
    #block-3 {
        background: url(../img/3_1920.webp) center bottom / cover no-repeat #111;
        padding-bottom: 30%;
        height: 0;
    }
}
@media only screen and (min-width:1920px) {
    #block-3 {
        background: url(../img/3_4000.webp) center 0 / 100% 100% no-repeat #ccc;
    }
}

#block-4 {
    background: url(../img/4_600.webp) center bottom / cover no-repeat #dc6430;
    position: relative;
    z-index: 2;
}
#block-4 .box-img{
    right: 1%;
    bottom: 2%;
}
@media (max-width:1980px) and (min-width:1000px) {
    #block-4 .box-img{
        width: 50%;
    }
}

@media only screen and (min-width:600px) {
    #block-4 {
        background: url(../img/4_1000.webp) center bottom / cover no-repeat #dc6430;
    }
}
@media only screen and (min-width:1000px) {
    #block-4 {
        background: url(../img/4_1920.webp) center bottom / cover no-repeat #dc6430;
        padding-bottom: 48%;
        height: 0;
    }
}
@media only screen and (min-width:1920px) {
    #block-4 {
        background: url(../img/4_4000.webp) center 0 / 100% 100% no-repeat #dc6430;
    }
}

#block-5 {
    /* background: url(../img/5_600.webp) center 0 / cover no-repeat #111; */
    background: #400e2d;
    position: relative;
    z-index: 1;
    overflow: hidden;
    color: #fff;
}
#block-video {
    position: absolute;
    top: 0;
    width: 100vw;
    height: 100%;
    object-fit: cover;
}
@media only screen and (min-width:600px) {
    #block-5 {
        /* background: url(../img/5_1000.webp) center 0 / cover no-repeat #111; */
    }
}
@media only screen and (min-width:1000px) {
    #block-5 {
        /* background: url(../img/5_1920.webp) center 0 / cover no-repeat #111; */
        padding-bottom: 52%;
        height: 0;
    }
}
@media only screen and (min-width:1920px) {
    #block-5 {
        /* background: url(../img/5_4000.webp) center 0 / 100% 100% no-repeat #ccc; */
    }
}



.block {
	position: relative;
    box-shadow: 0 2px 1px rgb(0 0 0 / 9%), 0 4px 2px rgb(0 0 0 / 9%), 0 8px 4px rgb(0 0 0 / 9%), 0 16px 8px rgb(0 0 0 / 9%), 0 32px 16px rgb(0 0 0 / 9%);
}

.block.active h2 {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-delay: .2s;
    animation-delay: .2s
}

.block.active ul,
.block.active p {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-delay: .4s;
    animation-delay: .4s
}

.block.active img {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-delay: .6s;
    animation-delay: .6s
}

.block.active .block-img {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-delay: .8s;
    animation-delay: .8s
}

.footer {
    color: #ccc;
}

.footer-heading,
.footer strong {
    color: #fff
}

.footer-heading:after {
    content: "";
    width: 270px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    background: url(../img/divider-sm-white.svg) 50% 50% no-repeat;
    height: 30px;
    margin-top: 16px
}

.footer-column {
    border-bottom: 1px solid #ccc
}

@media only screen and (min-width:768px) {
    .footer-column {
        border-bottom-color: rgba(0, 0, 0, 0)
    }
}

.social-twitter:hover {
    background-image: url(../img/twitter-gold.svg)
}

.social-facebook:hover {
    background-image: url(../img/facebook-gold.svg)
}

.social-google-plus:hover {
    background-image: url(../img/google-plus-gold.svg)
}

.social-youtube:hover {
    background-image: url(../img/youtube-gold.svg)
}

.padding-left-0-25rem {
    padding-left: .25rem
}

.padding-left-0-5rem {
    padding-left: .5rem
}

.padding-left-1rem {
    padding-left: 1rem
}

.padding-left-1-5rem {
    padding-left: 1.5rem
}

.padding-left-2rem {
    padding-left: 2rem
}

.padding-left-3rem {
    padding-left: 3rem
}

.padding-left-4rem {
    padding-left: 4rem
}

.padding-left-5rem {
    padding-left: 5rem
}

.padding-right-0-25rem {
    padding-right: .25rem
}

.padding-right-0-5rem {
    padding-right: .5rem
}

.padding-right-1rem {
    padding-right: 1rem
}

.padding-right-1-5rem {
    padding-right: 1.5rem
}

.padding-right-2rem {
    padding-right: 2rem
}

.padding-right-3rem {
    padding-right: 3rem
}

.padding-right-4rem {
    padding-right: 4rem
}

.padding-right-5rem {
    padding-right: 5rem
}

@media only screen and (min-width:768px) {
    .padding-left-0-m {
        padding-left: 0
    }

    .padding-left-0-25rem-m {
        padding-left: .25rem
    }

    .padding-left-0-5rem-m {
        padding-left: .5rem
    }

    .padding-left-1rem-m {
        padding-left: 1rem
    }

    .padding-left-1-5rem-m {
        padding-left: 1.5rem
    }

    .padding-left-2rem-m {
        padding-left: 2rem
    }

    .padding-left-3rem-m {
        padding-left: 3rem
    }

    .padding-left-4rem-m {
        padding-left: 4rem
    }

    .padding-left-5rem-m {
        padding-left: 5rem
    }

    .padding-right-0-m {
        padding-right: 0
    }

    .padding-right-0-25rem-m {
        padding-right: .25rem
    }

    .padding-right-0-5rem-m {
        padding-right: .5rem
    }

    .padding-right-1rem-m {
        padding-right: 1rem
    }

    .padding-right-1-5rem-m {
        padding-right: 1.5rem
    }

    .padding-right-2rem-m {
        padding-right: 2rem
    }

    .padding-right-3rem-m {
        padding-right: 3rem
    }

    .padding-right-4rem-m {
        padding-right: 4rem
    }

    .padding-right-5rem-m {
        padding-right: 5rem
    }
}

@media only screen and (min-width:980px) {
    .padding-left-0-l {
        padding-left: 0
    }

    .padding-left-0-25rem-l {
        padding-left: .25rem
    }

    .padding-left-0-5rem-l {
        padding-left: .5rem
    }

    .padding-left-1rem-l {
        padding-left: 1rem
    }

    .padding-left-1-5rem-l {
        padding-left: 1.5rem
    }

    .padding-left-2rem-l {
        padding-left: 2rem
    }

    .padding-right-0-l {
        padding-right: 0
    }

    .padding-right-0-25rem-l {
        padding-right: .25rem
    }

    .padding-right-0-5rem-l {
        padding-right: .5rem
    }

    .padding-right-1rem-l {
        padding-right: 1rem
    }

    .padding-right-1-5rem-l {
        padding-right: 1.5rem
    }

    .padding-right-2rem-l {
        padding-right: 2rem
    }

    .padding-right-3rem-l {
        padding-right: 3rem
    }

    .padding-right-4rem-l {
        padding-right: 4rem
    }

    .padding-right-5rem-l {
        padding-right: 5rem
    }
}

@media only screen and (min-width:1200px) {
    .padding-left-0-xl {
        padding-left: 0
    }

    .padding-left-0-25rem-xl {
        padding-left: .25rem
    }

    .padding-left-0-5rem-xl {
        padding-left: .5rem
    }

    .padding-left-1rem-xl {
        padding-left: 1rem
    }

    .padding-left-1-5rem-xl {
        padding-left: 1.5rem
    }

    .padding-left-2rem-xl {
        padding-left: 2rem
    }

    .padding-right-0-xl {
        padding-right: 0
    }

    .padding-right-0-25rem-xl {
        padding-right: .25rem
    }

    .padding-right-0-5rem-xl {
        padding-right: .5rem
    }

    .padding-right-1rem-xl {
        padding-right: 1rem
    }

    .padding-right-1-5rem-xl {
        padding-right: 1.5rem
    }

    .padding-right-2rem-xl {
        padding-right: 2rem
    }

    .padding-right-3rem-xl {
        padding-right: 3rem
    }

    .padding-right-4rem-xl {
        padding-right: 4rem
    }

    .padding-right-5rem-xl {
        padding-right: 5rem
    }
}

.padding-top-0-25rem {
    padding-top: .25rem
}

.padding-top-0-5rem {
    padding-top: .5rem
}

.padding-top-1rem {
    padding-top: 1rem
}

.padding-top-1-5rem {
    padding-top: 1.5rem
}

.padding-top-2rem {
    padding-top: 2rem
}

.padding-top-3rem {
    padding-top: 3rem
}

.padding-top-4rem {
    padding-top: 4rem
}

.padding-top-5rem {
    padding-top: 5rem
}

.padding-bottom-0-25rem {
    padding-bottom: .25rem
}

.padding-bottom-0-5rem {
    padding-bottom: .5rem
}

.padding-bottom-1rem {
    padding-bottom: 1rem
}

.padding-bottom-1-5rem {
    padding-bottom: 1.5rem
}

.padding-bottom-2rem {
    padding-bottom: 2rem
}

.padding-bottom-3rem {
    padding-bottom: 3rem
}

.padding-bottom-4rem {
    padding-bottom: 4rem
}

.padding-bottom-5rem {
    padding-bottom: 5rem
}

@media only screen and (min-width:768px) {
    .padding-top-0-m {
        padding-top: 0
    }

    .padding-top-0-25rem-m {
        padding-top: .25rem
    }

    .padding-top-0-5rem-m {
        padding-top: .5rem
    }

    .padding-top-1rem-m {
        padding-top: 1rem
    }

    .padding-top-1-5rem-m {
        padding-top: 1.5rem
    }

    .padding-top-2rem-m {
        padding-top: 2rem
    }

    .padding-top-3rem-m {
        padding-top: 3rem
    }

    .padding-top-4rem-m {
        padding-top: 4rem
    }

    .padding-top-5rem-m {
        padding-top: 5rem
    }

    .padding-bottom-0-m {
        padding-bottom: 0
    }

    .padding-bottom-0-25rem-m {
        padding-bottom: .25rem
    }

    .padding-bottom-0-5rem-m {
        padding-bottom: .5rem
    }

    .padding-bottom-1rem-m {
        padding-bottom: 1rem
    }

    .padding-bottom-1-5rem-m {
        padding-bottom: 1.5rem
    }

    .padding-bottom-2rem-m {
        padding-bottom: 2rem
    }

    .padding-bottom-3rem-m {
        padding-bottom: 3rem
    }

    .padding-bottom-4rem-m {
        padding-bottom: 4rem
    }

    .padding-bottom-5rem-m {
        padding-bottom: 5rem
    }
}

@media only screen and (min-width:980px) {
    .padding-top-0-l {
        padding-top: 0
    }

    .padding-top-0-25rem-l {
        padding-top: .25rem
    }

    .padding-top-0-5rem-l {
        padding-top: .5rem
    }

    .padding-top-1rem-l {
        padding-top: 1rem
    }

    .padding-top-1-5rem-l {
        padding-top: 1.5rem
    }

    .padding-top-2rem-l {
        padding-top: 2rem
    }

    .padding-top-3rem-l {
        padding-top: 3rem
    }

    .padding-top-4rem-l {
        padding-top: 4rem
    }

    .padding-top-5rem-l {
        padding-top: 5rem
    }

    .padding-bottom-0-l {
        padding-bottom: 0
    }

    .padding-bottom-0-25rem-l {
        padding-bottom: .25rem
    }

    .padding-bottom-0-5rem-l {
        padding-bottom: .5rem
    }

    .padding-bottom-1rem-l {
        padding-bottom: 1rem
    }

    .padding-bottom-1-5rem-l {
        padding-bottom: 1.5rem
    }

    .padding-bottom-2rem-l {
        padding-bottom: 2rem
    }

    .padding-bottom-3rem-l {
        padding-bottom: 3rem
    }

    .padding-bottom-4rem-l {
        padding-bottom: 4rem
    }

    .padding-bottom-5rem-l {
        padding-bottom: 5rem
    }
}

@media only screen and (min-width:1200px) {
    .padding-top-0-xl {
        padding-top: 0
    }

    .padding-top-0-25rem-xl {
        padding-top: .25rem
    }

    .padding-top-0-5rem-xl {
        padding-top: .5rem
    }

    .padding-top-1rem-xl {
        padding-top: 1rem
    }

    .padding-top-1-5rem-xl {
        padding-top: 1.5rem
    }

    .padding-top-2rem-xl {
        padding-top: 2rem
    }

    .padding-top-3rem-xl {
        padding-top: 3rem
    }

    .padding-top-4rem-xl {
        padding-top: 4rem
    }

    .padding-top-5rem-xl {
        padding-top: 5rem
    }

    .padding-bottom-0-xl {
        padding-bottom: 0
    }

    .padding-bottom-0-25rem-xl {
        padding-bottom: .25rem
    }

    .padding-bottom-0-5rem-xl {
        padding-bottom: .5rem
    }

    .padding-bottom-1rem-xl {
        padding-bottom: 1rem
    }

    .padding-bottom-1-5rem-xl {
        padding-bottom: 1.5rem
    }

    .padding-bottom-2rem-xl {
        padding-bottom: 2rem
    }

    .padding-bottom-3rem-xl {
        padding-bottom: 3rem
    }

    .padding-bottom-4rem-xl {
        padding-bottom: 4rem
    }

    .padding-bottom-5rem-xl {
        padding-bottom: 5rem
    }
}

.padding-0 {
    padding: 0
}

.padding-0-25rem {
    padding: .25rem
}

.padding-0-5rem {
    padding: .5rem
}

.padding-1rem {
    padding: 1rem
}

.padding-1-5rem {
    padding: 1.5rem
}

.padding-2rem {
    padding: 2rem
}

.padding-3rem {
    padding: 3rem
}

.padding-4rem {
    padding: 4rem
}

.padding-5rem {
    padding: 5rem
}

@media only screen and (min-width:768px) {
    .padding-0-m {
        padding: 0
    }

    .padding-0-25rem-m {
        padding: .25rem
    }

    .padding-0-5rem-m {
        padding: .5rem
    }

    .padding-1rem-m {
        padding: 1rem
    }

    .padding-1-5rem-m {
        padding: 1.5rem
    }

    .padding-2rem-m {
        padding: 2rem
    }

    .padding-3rem-m {
        padding: 3rem
    }

    .padding-4rem-m {
        padding: 4rem
    }

    .padding-5rem-m {
        padding: 5rem
    }
}

@media only screen and (min-width:980px) {
    .padding-0-l {
        padding: 0
    }

    .padding-0-25rem-l {
        padding: .25rem
    }

    .padding-0-5rem-l {
        padding: .5rem
    }

    .padding-1rem-l {
        padding: 1rem
    }

    .padding-1-5rem-l {
        padding: 1.5rem
    }

    .padding-2rem-l {
        padding: 2rem
    }

    .padding-3rem-l {
        padding: 3rem
    }

    .padding-4rem-l {
        padding: 4rem
    }

    .padding-5rem-l {
        padding: 5rem
    }
}

@media only screen and (min-width:1200px) {
    .padding-0-xl {
        padding: 0
    }

    .padding-0-25rem-xl {
        padding: .25rem
    }

    .padding-0-5rem-xl {
        padding: .5rem
    }

    .padding-1rem-xl {
        padding: 1rem
    }

    .padding-1-5rem-xl {
        padding: 1.5rem
    }

    .padding-2rem-xl {
        padding: 2rem
    }

    .padding-3rem-xl {
        padding: 3rem
    }

    .padding-4rem-xl {
        padding: 4rem
    }

    .padding-5rem-xl {
        padding: 5rem
    }
}

.no-select {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: default
}

.font-100 {
    font-weight: 100
}

.font-200 {
    font-weight: 200
}

.font-300 {
    font-weight: 300
}

.font-400 {
    font-weight: 400
}

.font-500 {
    font-weight: 500
}

.font-600 {
    font-weight: 600
}

.font-700 {
    font-weight: 700
}

.font-800 {
    font-weight: 800
}

.font-900 {
    font-weight: 900
}

.uppercase {
    text-transform: uppercase
}

.lowercase {
    text-transform: lowercase
}

.capitalize {
    text-transform: capitalize
}

.text-left {
    text-align: left
}

.text-right {
    text-align: right
}

.text-center {
    text-align: center
}

@media only screen and (min-width:768px) {
    .text-left-m {
        text-align: left
    }

    .text-right-m {
        text-align: right
    }

    .text-center-m {
        text-align: center
    }
}

@media only screen and (min-width:980px) {
    .text-left-l {
        text-align: left
    }

    .text-right-l {
        text-align: right
    }

    .text-center-l {
        text-align: center
    }
}

@media only screen and (min-width:1200px) {
    .text-left-xl {
        text-align: left
    }

    .text-right-xl {
        text-align: right
    }

    .text-center-xl {
        text-align: center
    }
}

.none {
    display: none
}

.block {
    display: block
}

.inline-block {
    display: inline-block
}

.inline {
    display: inline
}

.flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex
}

@media only screen and (min-width:768px) {
    .none-m {
        display: none
    }

    .block-m {
        display: block
    }

    .inline-block-m {
        display: inline-block
    }

    .inline-m {
        display: inline
    }

    .flex-m {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex
    }
}

@media only screen and (min-width:980px) {
    .none-l {
        display: none
    }

    .block-l {
        display: block
    }

    .inline-block-l {
        display: inline-block
    }

    .inline-l {
        display: inline
    }

    .flex-l {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex
    }
}

@media only screen and (min-width:1200px) {

    .block-xl,
    .none-xl {
        display: block
    }

    .inline-block-xl {
        display: inline-block
    }

    .inline-xl {
        display: inline
    }

    .flex-xl {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex
    }
}

.flex-wrap {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap
}

.flex-nowrap {
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap
}

.flex-align-items-bottom,
.flex-align-items-center,
.flex-align-items-top {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center
}

.flex-justify-left {
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start
}

.flex-justify-center {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center
}

.flex-justify-right {
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end
}

.flex-space-around {
    -ms-flex-pack: distribute;
    justify-content: space-around
}

.flex-space-between {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between
}

.flex-row {
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row
}

.flex-row,
.flex-row-reverse {
    -webkit-box-orient: horizontal
}

.flex-row-reverse {
    -webkit-box-direction: reverse;
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse
}

.flex-column {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column
}

.flex-column-reverse {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse
}

@media only screen and (min-width:768px) {
    .flex-wrap-m {
        -ms-flex-wrap: wrap;
        flex-wrap: wrap
    }

    .flex-nowrap-m {
        -ms-flex-wrap: nowrap;
        flex-wrap: nowrap
    }

    .flex-align-items-bottom-m,
    .flex-align-items-center-m,
    .flex-align-items-top-m {
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center
    }

    .flex-justify-left-m {
        -webkit-box-pack: start;
        -ms-flex-pack: start;
        justify-content: flex-start
    }

    .flex-justify-center-m {
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center
    }

    .flex-justify-right-m {
        -webkit-box-pack: end;
        -ms-flex-pack: end;
        justify-content: flex-end
    }

    .flex-space-around-m {
        -ms-flex-pack: distribute;
        justify-content: space-around
    }

    .flex-space-between-m {
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between
    }

    .flex-row-m {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row
    }

    .flex-row-reverse-m {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
        flex-direction: row-reverse
    }

    .flex-column-m {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column
    }

    .flex-column-reverse-m {
        -webkit-box-orient: vertical;
        -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
        flex-direction: column-reverse
    }
}

@media only screen and (min-width:980px) {
    .flex-wrap-l {
        -ms-flex-wrap: wrap;
        flex-wrap: wrap
    }

    .flex-nowrap-l {
        -ms-flex-wrap: nowrap;
        flex-wrap: nowrap
    }

    .flex-align-items-bottom-l,
    .flex-align-items-center-l,
    .flex-align-items-top-l {
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center
    }

    .flex-justify-left-l {
        -webkit-box-pack: start;
        -ms-flex-pack: start;
        justify-content: flex-start
    }

    .flex-justify-center-l {
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center
    }

    .flex-justify-right-l {
        -webkit-box-pack: end;
        -ms-flex-pack: end;
        justify-content: flex-end
    }

    .flex-space-around-l {
        -ms-flex-pack: distribute;
        justify-content: space-around
    }

    .flex-space-between-l {
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between
    }

    .flex-row-l {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row
    }

    .flex-row-reverse-l {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
        flex-direction: row-reverse
    }

    .flex-column-l {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column
    }

    .flex-column-reverse-l {
        -webkit-box-orient: vertical;
        -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
        flex-direction: column-reverse
    }
}

@media only screen and (min-width:1200px) {
    .flex-wrap-xl {
        -ms-flex-wrap: wrap;
        flex-wrap: wrap
    }

    .flex-nowrap-xl {
        -ms-flex-wrap: nowrap;
        flex-wrap: nowrap
    }

    .flex-align-items-bottom-xl,
    .flex-align-items-center-xl,
    .flex-align-items-top-xl {
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center
    }

    .flex-justify-left-xl {
        -webkit-box-pack: start;
        -ms-flex-pack: start;
        justify-content: flex-start
    }

    .flex-justify-center-xl {
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center
    }

    .flex-justify-right-xl {
        -webkit-box-pack: end;
        -ms-flex-pack: end;
        justify-content: flex-end
    }

    .flex-space-around-xl {
        -ms-flex-pack: distribute;
        justify-content: space-around
    }

    .flex-space-between-xl {
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between
    }

    .flex-row-xl {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row
    }

    .flex-row-reverse-xl {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
        flex-direction: row-reverse
    }

    .flex-column-xl {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column
    }

    .flex-column-reverse-xl {
        -webkit-box-orient: vertical;
        -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
        flex-direction: column-reverse
    }
}

.relative {
    position: relative
}

.absolute {
    position: absolute
}

.static {
    position: static
}

.fixed {
    position: fixed
}

.sticky {
    position: -webkit-sticky;
    position: sticky
}

@media only screen and (min-width:768px) {
    .relative-m {
        position: relative
    }

    .absolute-m {
        position: absolute
    }

    .static-m {
        position: static
    }

    .fixed-m {
        position: fixed
    }

    .sticky-m {
        position: -webkit-sticky;
        position: sticky
    }
}

@media only screen and (min-width:980px) {
    .relative-l {
        position: relative
    }

    .absolute-l {
        position: absolute
    }

    .static-l {
        position: static
    }

    .fixed-l {
        position: fixed
    }

    .sticky-l {
        position: -webkit-sticky;
        position: sticky
    }
}

@media only screen and (min-width:1200px) {
    .relative-xl {
        position: relative
    }

    .absolute-xl {
        position: absolute
    }

    .static-xl {
        position: static
    }

    .fixed-xl {
        position: fixed
    }

    .sticky-xl {
        position: -webkit-sticky;
        position: sticky
    }
}