.footer-copyright{
    background: #bee2ea;
    overflow: hidden;
    padding: 40px 0 0;
    .footer-list{
        h4{
            font-size: 1.6rem;
            font-weight: 900;
            color: #008eab;
        }
        ul{
            list-style-type: none;
            padding: 0;
            li{
                color: #5a5757;
                font-size: 1.4rem;
                font-weight: 600;
                a{
                    color: #5a5757;
                }
            }
        }
    }
    .hm-footer-copyright p{
        font-size: 1.3rem;
        font-weight: 600;
        padding-bottom: 1.5rem;
        a{
            color: #737373;
            text-decoration: none;
        }
        i.fa-linkedin-in{
            color: #004f77;
            font-size: 2.6rem;
        }
    }
}