.top-wrapper{
    background:url(../i/header.jpg)no-repeat;
    background-size:cover;
    background-position: center;
    .header-area{
        background: transparent;
        transition: 1s background;
        @at-root .is-sticky .header-area {
            background: #fff;
            z-index: 10 !important;
            box-shadow: 0px 0px 19px -3px rgba(0, 0, 0, 0.36);
            .skydropdown-list > li > a {
                color: #008eab;
            }
        }
        .skydropdown-list.skydown-mob > li > a {
            color: #008eab;
            &.like-a-button-grad{
                color: #fff;
                margin-bottom: 10px;
                padding: 9px 25px;
                &:last-child{
                    margin-bottom: 0;
                }
            }
        }
      .navbar-brand {
          display: block;
          padding-top: 2rem;
          @media only screen and (max-width: $screen-xs-max) {
            padding-top: 0.6rem;
          }
          img {
            @include center-block;
          }
        }
    }
    .welcome-hero{
        display: flex;
        justify-content: center;
        position: relative;
        padding: 12% 0 17%;
        margin: 0;
        .header-text {
            h2 {
                color: #fff;
                font: 600 3.8rem/4rem $font__header;
                @media only screen and (max-width: $screen-xs-max) {
                    font: 600 2.2rem/4rem $font__header;
                }
                span {
                    color: #202a37;
                }
            }
        }
    }
}
