.wrapper{
    section{
        padding: 8.2rem 0;
    }

    /* What we do page*/
    .services{
        .services-col{
            text-align: center;
            margin: 5.4rem 0 0;
            position: relative;
            &:before{
              @media only screen and (min-width: $screen-md-min) {
                content: '';
                position: absolute;
                left: 0;
                top: 7rem;
                background-color: #dedede;
                height: 1px;
                width: 100%;
              }
            }
            .iconwrapper {
              text-align: center;
              display: inline-block;
              &:after{
                @media only screen and (max-width: $screen-sm-max) {
                  content: '';
                  left: 0;
                  top: 6px;
                  background-color: #dedede;
                  height: 1px;
                  width: 100%;
                  position: absolute;
                }
              }
              @media only screen and (min-width: $screen-md-min) {
                position: absolute;
                top: 6.4rem;
                left: 43%;
                background-color: #f5f5f5;
              }
              .fal {
                font-size: 15px;
                color: #dedede;
                @media only screen and (max-width: $screen-sm-max) {
                  background-color: #f5f5f5;
                  z-index: 8;
                  position: relative;
                }
              }
            }
            h3 {
                margin: 15px 0;
                padding-bottom: 18px;
                position: relative;
                &:after {
                  content: '';
                  height: 2px;
                  background-color: #9a9a9a;
                  position: absolute;
                  bottom: 0;
                  width: 50px;
                  right: 0;
                  margin: auto;
                  left: 0;
                }
            }
        }
    }

    /* about page*/
    .about{
        background: url(../i/third_sec_bg.png) no-repeat center top;
        background-size: cover;
        position: relative;
        padding-top: 15rem;
    }

    /*News page*/
    .news{
        .section-heading{
            margin-bottom: 4rem;
        }
        .wr-news-box-hexagon{
            position: relative;
            margin: 0 10px 20px 0;
            @media only screen and (max-width: $screen-xs-max) {
                margin: 0 0px 20px 0;
            }
            .hexagon {
                z-index: 5;
                top: 3.5rem;
                clip-path: polygon(50% 10%, 100% 25%, 100% 75%, 50% 90%, 0% 75%, 0% 25%);
                position: absolute;
                left: -3.2rem;
                width: 77px;
                height: 169px;
                background-color: #f5f5f5;
                @media only screen and (max-width: $screen-xs-max) {
                    top: 0;
                    left: -1.2rem;
                    width: 52px;
                    height: 106px;
                }
                .border-hexagon{
                    background-color: #5fc9a7;
                    display: flex;
                    align-items: center;
                    width: 65px;
                    height: 153px;
                    margin: 8px 0 0 6px;
                    clip-path: polygon(50% 10%, 100% 25%, 100% 75%, 50% 90%, 0% 75%, 0% 25%);
                    justify-content: center;
                    @media only screen and (max-width: $screen-xs-max) {
                        width: 41px;
                        height: 90px;
                    }
                    p{
                        font-size: 3.6rem;
                        font-family: 'Myriad Pro';
                        text-align: center;
                        line-height: 29px;
                        font-weight: 600;
                        margin: 0;
                        text-transform: uppercase;
                        color: #fff;
                        @media only screen and (max-width: $screen-xs-max) {
                            line-height: 22px;
                            font-size: 2.6rem;
                        }
                        span{
                            display: block;
                            font-size: 1.8rem;
                            font-weight: normal;
                            @media only screen and (max-width: $screen-xs-max) {
                                font-size: 1.4rem;
                            }
                        }
                    }
                }
            }
        }
        .wr-news-box{
            position: relative;
            overflow: hidden;
            z-index: 3;
            &:before,
            &:after{
                content: "";
                display: block;
                border: 1px solid #eaeaea;
                width: 3.5em;
                height: 3.5em;
                border-radius: 50%;
                box-shadow: 0px 0px 0px 6px #f5f5f5;
                position: absolute;
                background-color: #f5f5f5;
                z-index: 5;
            }
            &:after{
                top: -17px;
                left: -17px;
            }
            &:before{
                top: -17px;
                right: -17px;
            }
            .news-box{
                border: 1px solid #eaeaea;
                background: #f5f5f5;
                padding: 0.6rem;
                position: relative;
                min-height: 42.6rem;
                overflow: hidden;
                .news-img{
                    width: 100%;
                    position: absolute;
                    padding-right: 12px;
                }
                .news-text{
                    padding: 3.8rem;
                    position: relative;
                    margin-top: 27%;
                    @media only screen and (max-width: $screen-xs-max) {
                        padding: 0.8rem;
                    }
                    h3,p{
                        color: #575757;
                        font-size: 1.6rem;
                        line-height: 3rem;
                    }
                }
            }
        }
    }

    /*Social page*/
    .social{
        text-align: center;
        background: url(../i/bottom_bg.jpg) no-repeat center top;
        background-size: cover;
        position: relative;
        padding: 5.2rem 0;
        .wrapper-soc{
            max-width: 761px;
            .ico{
                @include center-block;
                margin-bottom: 10px;
                color: #fff;
                border-radius: 50%;
                width: 90px;
                text-align: center;
                font-size: 3rem;
                padding: 22px;
                transition: 0.5s opacity;
                &:hover{
                  opacity: 0.7;
                }
                &.ico-vk{
                  background: #64a9ff;
                }
                &.ico-youtube{
                  background: #ff6464;
                }
                &.ico-facebook{
                  background: #7289ff;
                }
                &.ico-instagram{
                  background: #ff61a4;
                }
            }
        }
    }
}
