/*===============================
    Scroll Top
===============================*/
#scroll-Top  .return-to-top {
    position: fixed;
    right: 30px;
    bottom: 30px;
    display: none;
    width: 40px;
    line-height: 40px;
    height: 40px;
    text-align: center;
    font-size: 20px;
    cursor: pointer;
    color: #fff;
    background:#5886af;
    border:1px solid #5886af;
    border-radius:50%;
    -webkit-transition: .5s; 
    -moz-transition:.5s; 
    -ms-transition:.5s; 
    -o-transition:.5s;
    transition: .5s;
    z-index: 2;
    i {
      position:relative;
      bottom:0;
      position: relative;
      animation-name: example;
      animation-direction: alternate;
      animation-iteration-count: infinite;
      animation-duration:1s;
    }
    &:hover {
      background: #6c1b71;
      color: #ffffff;
      border: 1px solid #ffffff;
    }
}

@keyframes example {
    0%   {bottom:0px;}
    100%  {bottom:7px;}
}

/*===============================
    Button
===============================*/
.like-a-button {
    width: 200px;
    height: 60px;
    line-height: 60px;
    border-radius: 20px;
    font-size: 1.8rem;
    text-transform: capitalize;
    display: block;
    color: #fff;
    margin: 0 auto;
    background: #008eab;
    border: 0;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    -webkit-transition: 0.3s linear;
    -moz-transition: 0.3s linear;
    -ms-transition: 0.3s linear;
    -o-transition: 0.3s linear;
    transition: 0.3s linear;
    &:hover { 
      box-shadow: 0 4px 10px rgba(0,0,0,.2);
      background:#3c718e;
      color: white;
  }
}

/*===============================
    Button Gradient
===============================*/
a.like-a-button-grad {
  @include gradient-animation( #018eab, #5c4181, 0.5s );
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  text-decoration: none;
  border-radius: 2rem;
  cursor: pointer;
  color: #fff;
  text-align: center;
  display: block;
  max-width: 177px;
  font-size: 1.6rem;
  font-weight: 600;
  padding: 0.8rem 1rem;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  &:before {
    border-radius: 2rem;
  }
}
