/* Contact Form */
.contact-form  .form-group {
    margin-bottom: 20px;
    
}
.contact-form .form-control {
    padding: 25px;
    font-size: 14px;
    border: 1px solid #008eab;
    border-radius: 5px;
    box-shadow: none;
    outline: 0!important;
    background: #fff;
    color: #000;
    resize: none;
    font-weight: 600;
}

/*--contct button--*/
.contact-form .single-contact-btn {
    display:flex;
    align-items:center;
    justify-content:center;
    height:50px;
    text-transform:capitalize;
    margin-top: 3px;
    background: #5886af;
    border: 1px solid #5886af;
    cursor:pointer;
    box-shadow: 0 5px 20px rgba(0,0,0,.2);
     -webkit-transition: .5s; 
    -moz-transition:.5s; 
    -ms-transition:.5s; 
    -o-transition:.5s;
    transition: .5s;
}
.contact-form .single-contact-btn .contact-btn ,
.contact-form .single-contact-btn .contact-btn:focus {
    width: 100%;
    height: 100%;
    margin-top:0px;
    outline: 0 !important;
    border:0;
    color: #fff;
    border-radius: 0px;
    font-size:14px;
    -webkit-transition: .5s; 
    -moz-transition:.5s; 
    -ms-transition:.5s; 
    -o-transition:.5s;
    transition: .5s;
    background-color: transparent;
}
.single-contact-btn:hover{
    background: #3c718e;
    border: 1px solid #3c718e;
    box-shadow: 0 5px 20px rgba(0,0,0,.2);
}

/*--contact button--*/

/* contact-adress */
.contact-add-head h3 {
    font-size:  24px;
    color:  #3c4258;
}
.contact-add-head p {
    font-size:  16px;
    text-transform: capitalize;
    color:  #636a82;
    font-weight:  300;
    margin-top:  6px;
}
/* contact-adress */

/*.contact-add-info */
.contact-add-info { margin: 42px 0 52px;}
.single-contact-add-info h3 {
    color:  #636a82;
    font-weight:  500;
}
.single-contact-add-info p {
    color:  #999fb3;
    font-size:  16px;
    margin-top:  18px;
}
.single-contact-add-info i {
    margin-right: 15px;
}
.single-contact-add-info {
    margin-bottom:  26px;
}

/* Popup Login Form */
.modal {
    .modal-title{
        font-size: 2.25rem;
    }
    .form-group {
        input.error{
            border: 1px solid #ff0000;
        }
        label.error{
            color: #ff0000;
            font-size: 1.4rem;
        }
    }
    .login{
        background-image: linear-gradient(#018eab, #5c4181);
        text-decoration: none;
        border-radius: 2rem;
        cursor: pointer;
        color: #fff;
        text-align: center;
        border: 0;
        margin: 0 auto;
        display: block;
        font-size: 1.6rem;
        font-weight: 600;
        padding: 0.8rem 3rem;
    }
}