/*===============================
    Scroll Top
===============================*/
#scroll-Top  .return-to-top {
    position: fixed;
    right: 30px;
    bottom: 30px;
    display: none;
    width: 40px;
    line-height: 40px;
    height: 40px;
    text-align: center;
    font-size: 20px;
    cursor: pointer;
    color: #fff;
    background: #32ac85;
    border: 1px solid #16815d;
    border-radius:50%;
    -webkit-transition: .5s; 
    -moz-transition:.5s; 
    -ms-transition:.5s; 
    -o-transition:.5s;
    transition: .5s;
    z-index: 2000;
    i {
      position:relative;
      bottom:0;
      position: relative;
      animation-name: example;
      animation-direction: alternate;
      animation-iteration-count: infinite;
      animation-duration:1s;
    }
    &:hover {
      background: #5a6287;
      color: #ffffff;
      border: 1px solid #ffffff;
    }
}

@keyframes example {
    0%   {bottom:0px;}
    100%  {bottom:7px;}
}

/*Button*/
.btn-grey{
  background: #575757;
  color: #fff;
  font-weight: 700;
  font-size: 14px;
  border-radius: 0;
  padding: 12px 31px;
  transition: 0.5s all;
  &:hover{
    background: #828282;
    color: #fff;
  }
}

/*button header*/
a.round {
    color: #fff;
    letter-spacing: 1px;
    font-size: 14px;
    font-weight: 700;
    text-decoration: none;
    padding: 17px 40px;
    display: block;
    background: #5fc9a7;
    background:
        -moz-linear-gradient(45deg,  transparent 10px, #5fc9a7 10px),
        -moz-linear-gradient(135deg, transparent 10px, #5fc9a7 10px),
        -moz-linear-gradient(225deg, transparent 10px, #5fc9a7 10px),
        -moz-linear-gradient(315deg, transparent 10px, #5fc9a7 10px);
    background:
        -o-linear-gradient(45deg,  transparent 10px, #5fc9a7 10px),
        -o-linear-gradient(135deg, transparent 10px, #5fc9a7 10px),
        -o-linear-gradient(225deg, transparent 10px, #5fc9a7 10px),
        -o-linear-gradient(315deg, transparent 10px, #5fc9a7 10px);
    background:
        -webkit-linear-gradient(45deg,  transparent 10px, #5fc9a7 10px),
        -webkit-linear-gradient(135deg, transparent 10px, #5fc9a7 10px),
        -webkit-linear-gradient(225deg, transparent 10px, #5fc9a7 10px),
        -webkit-linear-gradient(315deg, transparent 10px, #5fc9a7 10px);
    background:
        -moz-radial-gradient(0 100%, circle, rgba(204,0,0,0) 14px, #5fc9a7 15px),
        -moz-radial-gradient(100% 100%, circle, rgba(204,0,0,0) 14px, #5fc9a7 15px),
        -moz-radial-gradient(100% 0, circle, rgba(204,0,0,0) 14px, #5fc9a7 15px),
        -moz-radial-gradient(0 0, circle, rgba(204,0,0,0) 14px, #5fc9a7 15px);
    background:
         -o-radial-gradient(0 100%, circle, rgba(204,0,0,0) 14px, #5fc9a7 15px),
         -o-radial-gradient(100% 100%, circle, rgba(204,0,0,0) 14px, #5fc9a7 15px),
         -o-radial-gradient(100% 0, circle, rgba(204,0,0,0) 14px, #5fc9a7 15px),
         -o-radial-gradient(0 0, circle, rgba(204,0,0,0) 14px, #5fc9a7 15px);
    background:
         -webkit-radial-gradient(0 100%, circle, rgba(204,0,0,0) 14px, #5fc9a7 15px),
         -webkit-radial-gradient(100% 100%, circle, rgba(204,0,0,0) 14px, #5fc9a7 15px),
         -webkit-radial-gradient(100% 0, circle, rgba(204,0,0,0) 14px, #5fc9a7 15px),
         -webkit-radial-gradient(0 0, circle, rgba(204,0,0,0) 14px, #5fc9a7 15px);
    background-position: bottom left, bottom right, top right, top left;
    background-size: 57% 57%;
    background-repeat: no-repeat;
    transition: 1s all;
    &:hover{
      background:
          -moz-linear-gradient(45deg,  transparent 10px, #5a6287 10px),
          -moz-linear-gradient(135deg, transparent 10px, #5a6287 10px),
          -moz-linear-gradient(225deg, transparent 10px, #5a6287 10px),
          -moz-linear-gradient(315deg, transparent 10px, #5a6287 10px);
      background:
          -o-linear-gradient(45deg,  transparent 10px, #5a6287 10px),
          -o-linear-gradient(135deg, transparent 10px, #5a6287 10px),
          -o-linear-gradient(225deg, transparent 10px, #5a6287 10px),
          -o-linear-gradient(315deg, transparent 10px, #5a6287 10px);
      background:
          -webkit-linear-gradient(45deg,  transparent 10px, #5a6287 10px),
          -webkit-linear-gradient(135deg, transparent 10px, #5a6287 10px),
          -webkit-linear-gradient(225deg, transparent 10px, #5a6287 10px),
          -webkit-linear-gradient(315deg, transparent 10px, #5a6287 10px);
      background:
          -moz-radial-gradient(0 100%, circle, rgba(204,0,0,0) 14px, #5a6287 15px),
          -moz-radial-gradient(100% 100%, circle, rgba(204,0,0,0) 14px, #5a6287 15px),
          -moz-radial-gradient(100% 0, circle, rgba(204,0,0,0) 14px, #5a6287 15px),
          -moz-radial-gradient(0 0, circle, rgba(204,0,0,0) 14px, #5a6287 15px);
      background:
           -o-radial-gradient(0 100%, circle, rgba(204,0,0,0) 14px, #5a6287 15px),
           -o-radial-gradient(100% 100%, circle, rgba(204,0,0,0) 14px, #5a6287 15px),
           -o-radial-gradient(100% 0, circle, rgba(204,0,0,0) 14px, #5a6287 15px),
           -o-radial-gradient(0 0, circle, rgba(204,0,0,0) 14px, #5a6287 15px);
      background:
           -webkit-radial-gradient(0 100%, circle, rgba(204,0,0,0) 14px, #5a6287 15px),
           -webkit-radial-gradient(100% 100%, circle, rgba(204,0,0,0) 14px, #5a6287 15px),
           -webkit-radial-gradient(100% 0, circle, rgba(204,0,0,0) 14px, #5a6287 15px),
           -webkit-radial-gradient(0 0, circle, rgba(204,0,0,0) 14px, #5a6287 15px);
       background-position: bottom left, bottom right, top right, top left;
       background-repeat: no-repeat;
       background-size: 57% 57%;
       opacity: 0.8;
    }
}

/*OWL Video Carusel*/
.owl-carousel{
  touch-action: manipulation;
}

.owl-carousel .owl-video-tn {
  background-size: cover;
  padding-bottom: 52.25%; /* 16:9 */
  padding-top: 25px;
}

.owl-video-frame {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  padding-top: 25px;
  height: 0;
}
.owl-video-frame iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.owl-dots {
  text-align: center;
  margin-top: 20px;
}

.owl-dot {
  display: inline-block;
}

.owl-dot span {
  width: 11px;
  height: 11px;
  background-color: #7d7d7d;
  border-radius: 50%;
  display: block;
  margin: 5px 3px;
}

.owl-dot.active span {
  background-color: #32ac85;
}

/*Show more btn*/
.show-more{
  text-align: center;
}






.news .row > div:nth-child(n+3) {
  display: none;
}

















/*.hexagon555 {
    background: url(../i/ddd.svg) no-repeat 0 0 transparent;
    background-size: contain;
    padding: 17px 40px;

      color: #fff;
      letter-spacing: 1px;
      font-size: 14px;
      font-weight: 700;
      text-decoration: none;
      &:hover{
        text-decoration: none;
        color: #fff;
        filter: invert(27%) sepia(51%) saturate(2878%) hue-rotate(346deg) brightness(104%) contrast(97%);
      }

 }*/