body{
  color: $color__text-main;
  background: $color__background-body;
  letter-spacing: 1px;
}
h2{
  font-size: 2.4rem;
  color: $color__text-heading;
  font-family: 'Roboto Slab', serif;
  padding-bottom: 10px;
}
h3{
  font-size: 1.8rem;
  font-weight: 600;
  font-family: 'Roboto Slab', serif;
  color: $color__text-heading;
}
p{
  font-size: 1.8rem;
}