.wrapper-lang{
    text-align: center;
    @media only screen and (min-width: $screen-md-min) {
        margin-top: 10px;
    }
    @media (max-width: $screen-sm-max) and (min-width: $screen-sm-min) {
        margin-bottom: 5px;
    }
    .dropdown{
        .filter-option{
            border-radius: 20px;
            font-size: 10px;
            border: 1px solid #afafaf;
            .flag-icon{
                background-position: -6px 0px;
                background-size: cover;
            }
        }
        .dropdown-toggle{
            &:after {
                border-top: .6em solid;
                border-right: .6em solid transparent;
                border-left: .6em solid transparent;
            }
        }
        .dropdown-menu{
            opacity: 0;
            padding: 0;
            display: block;
            transition: 0.5s opacity;
            &.show{
                opacity: 1;
            }
        }
    }
}