/*!
Theme Name: Stadium
Theme URI: http://underscores.me/
Author: Underscores.me
Author URI: http://underscores.me/
Description: Description
Version: 1.0.0
License: GNU General Public License v2 or later
License URI: LICENSE
Text Domain: Stadium
Tags: custom-background, custom-logo, custom-menu, featured-images, threaded-comments, translation-ready

This theme, like WordPress, is licensed under the GPL.
Use it to make something cool, have fun, and share what you've learned with others.

Stadium is based on Underscores https://underscores.me/, (C) 2012-2017 Automattic, Inc.
Underscores is distributed under the terms of the GNU GPL v2 or later.

Normalizing styles have been helped along thanks to the fine work of
Nicolas Gallagher and Jonathan Neal https://necolas.github.io/normalize.css/
*/
/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# Variables & Mixins
# Normalize
# Typography
# Elements
# Forms
# Navigation
# Layout
# Pages
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# # Variables & Mixins
--------------------------------------------------------------*/
/**********************************/
/* Preloader
/**********************************/
/**********************************/
/* Search
/**********************************/
/*--------------------------------------------------------------
# Normalize
--------------------------------------------------------------*/
/*! normalize.css v8.0.0 | MIT License | github.com/necolas/normalize.css */
/* Document
	 ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 10px;
  /* 1 */
  font-size: 10px;
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/* Sections
	 ========================================================================== */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
  font-family: "Raleway", sans-serif;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
	 ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/* Text-level semantics
	 ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
	 ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
  border-style: none;
  max-width: 100%;
}

/* Forms
	 ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *		`fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/* Interactive
	 ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/* Misc
	 ========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none;
}

/*--------------------------------------------------------------
# Typography
--------------------------------------------------------------*/
/* raleway-regular - latin */
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  src: url("../webfonts/raleway-v13-latin-regular.eot");
  /* IE9 Compat Modes */
  src: local("Raleway"), local("Raleway-Regular"), url("../webfonts/raleway-v13-latin-regular.eot?#iefix") format("embedded-opentype"), url("../webfonts/raleway-v13-latin-regular.woff2") format("woff2"), url("../webfonts/raleway-v13-latin-regular.woff") format("woff"), url("../webfonts/raleway-v13-latin-regular.ttf") format("truetype"), url("../webfonts/raleway-v13-latin-regular.svg#Raleway") format("svg");
  /* Legacy iOS */
}
/* raleway-500 - latin */
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 500;
  src: url("../webfonts/raleway-v13-latin-500.eot");
  /* IE9 Compat Modes */
  src: local("Raleway Medium"), local("Raleway-Medium"), url("../webfonts/raleway-v13-latin-500.eot?#iefix") format("embedded-opentype"), url("../webfonts/raleway-v13-latin-500.woff2") format("woff2"), url("../webfonts/raleway-v13-latin-500.woff") format("woff"), url("../webfonts/raleway-v13-latin-500.ttf") format("truetype"), url("../webfonts/raleway-v13-latin-500.svg#Raleway") format("svg");
  /* Legacy iOS */
}
/* raleway-600 - latin */
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 600;
  src: url("../webfonts/raleway-v13-latin-600.eot");
  /* IE9 Compat Modes */
  src: local("Raleway SemiBold"), local("Raleway-SemiBold"), url("../webfonts/raleway-v13-latin-600.eot?#iefix") format("embedded-opentype"), url("../webfonts/raleway-v13-latin-600.woff2") format("woff2"), url("../webfonts/raleway-v13-latin-600.woff") format("woff"), url("../webfonts/raleway-v13-latin-600.ttf") format("truetype"), url("../webfonts/raleway-v13-latin-600.svg#Raleway") format("svg");
  /* Legacy iOS */
}
/* raleway-800 - latin */
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 800;
  src: url("../webfonts/raleway-v13-latin-800.eot");
  /* IE9 Compat Modes */
  src: local("Raleway ExtraBold"), local("Raleway-ExtraBold"), url("../webfonts/raleway-v13-latin-800.eot?#iefix") format("embedded-opentype"), url("../webfonts/raleway-v13-latin-800.woff2") format("woff2"), url("../webfonts/raleway-v13-latin-800.woff") format("woff"), url("../webfonts/raleway-v13-latin-800.ttf") format("truetype"), url("../webfonts/raleway-v13-latin-800.svg#Raleway") format("svg");
  /* Legacy iOS */
}
/* poppins-600 - latin */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  src: url("../webfonts/poppins-v6-latin-600.eot");
  /* IE9 Compat Modes */
  src: local("Poppins SemiBold"), local("Poppins-SemiBold"), url("../webfonts/poppins-v6-latin-600.eot?#iefix") format("embedded-opentype"), url("../webfonts/poppins-v6-latin-600.woff2") format("woff2"), url("../webfonts/poppins-v6-latin-600.woff") format("woff"), url("../webfonts/poppins-v6-latin-600.ttf") format("truetype"), url("../webfonts/poppins-v6-latin-600.svg#Poppins") format("svg");
  /* Legacy iOS */
}
body {
  color: #464646;
}

h2 {
  font-size: 4.5rem;
  font-weight: 600;
  color: #000;
}

h3 {
  font-size: 1.8rem;
  font-weight: 600;
}

p {
  font-size: 1.8rem;
  font-weight: 600;
}

/*--------------------------------------------------------------
# Elements
--------------------------------------------------------------*/
/*===============================
    Scroll Top
===============================*/
#scroll-Top .return-to-top {
  position: fixed;
  right: 30px;
  bottom: 30px;
  display: none;
  width: 40px;
  line-height: 40px;
  height: 40px;
  text-align: center;
  font-size: 20px;
  cursor: pointer;
  color: #fff;
  background: #5886af;
  border: 1px solid #5886af;
  border-radius: 50%;
  -webkit-transition: .5s;
  -moz-transition: .5s;
  -ms-transition: .5s;
  -o-transition: .5s;
  transition: .5s;
  z-index: 2;
}
#scroll-Top .return-to-top i {
  position: relative;
  bottom: 0;
  position: relative;
  animation-name: example;
  animation-direction: alternate;
  animation-iteration-count: infinite;
  animation-duration: 1s;
}
#scroll-Top .return-to-top:hover {
  background: #6c1b71;
  color: #ffffff;
  border: 1px solid #ffffff;
}

@keyframes example {
  0% {
    bottom: 0px;
  }
  100% {
    bottom: 7px;
  }
}
/*===============================
    Button
===============================*/
.like-a-button {
  width: 200px;
  height: 60px;
  line-height: 60px;
  border-radius: 20px;
  font-size: 1.8rem;
  text-transform: capitalize;
  display: block;
  color: #fff;
  margin: 0 auto;
  background: #008eab;
  border: 0;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  -webkit-transition: 0.3s linear;
  -moz-transition: 0.3s linear;
  -ms-transition: 0.3s linear;
  -o-transition: 0.3s linear;
  transition: 0.3s linear;
}
.like-a-button:hover {
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  background: #3c718e;
  color: white;
}

/*===============================
    Button Gradient
===============================*/
a.like-a-button-grad {
  background-size: 100%;
  background-image: linear-gradient(#018eab, #5c4181);
  position: relative;
  z-index: 100;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  text-decoration: none;
  border-radius: 2rem;
  cursor: pointer;
  color: #fff;
  text-align: center;
  display: block;
  max-width: 177px;
  font-size: 1.6rem;
  font-weight: 600;
  padding: 0.8rem 1rem;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
a.like-a-button-grad:before {
  background-image: linear-gradient(#5c4181, #018eab);
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  width: 100%;
  z-index: -100;
  transition: opacity 0.5s;
}
a.like-a-button-grad:hover:before {
  opacity: 1;
}
a.like-a-button-grad:before {
  border-radius: 2rem;
}

/*--------------------------------------------------------------
# Forms
--------------------------------------------------------------*/
/* Contact Form */
.contact-form .form-group {
  margin-bottom: 20px;
}

.contact-form .form-control {
  padding: 25px;
  font-size: 14px;
  border: 1px solid #008eab;
  border-radius: 5px;
  box-shadow: none;
  outline: 0 !important;
  background: #fff;
  color: #000;
  resize: none;
  font-weight: 600;
}

/*--contct button--*/
.contact-form .single-contact-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  text-transform: capitalize;
  margin-top: 3px;
  background: #5886af;
  border: 1px solid #5886af;
  cursor: pointer;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);
  -webkit-transition: .5s;
  -moz-transition: .5s;
  -ms-transition: .5s;
  -o-transition: .5s;
  transition: .5s;
}

.contact-form .single-contact-btn .contact-btn,
.contact-form .single-contact-btn .contact-btn:focus {
  width: 100%;
  height: 100%;
  margin-top: 0px;
  outline: 0 !important;
  border: 0;
  color: #fff;
  border-radius: 0px;
  font-size: 14px;
  -webkit-transition: .5s;
  -moz-transition: .5s;
  -ms-transition: .5s;
  -o-transition: .5s;
  transition: .5s;
  background-color: transparent;
}

.single-contact-btn:hover {
  background: #3c718e;
  border: 1px solid #3c718e;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);
}

/*--contact button--*/
/* contact-adress */
.contact-add-head h3 {
  font-size: 24px;
  color: #3c4258;
}

.contact-add-head p {
  font-size: 16px;
  text-transform: capitalize;
  color: #636a82;
  font-weight: 300;
  margin-top: 6px;
}

/* contact-adress */
/*.contact-add-info */
.contact-add-info {
  margin: 42px 0 52px;
}

.single-contact-add-info h3 {
  color: #636a82;
  font-weight: 500;
}

.single-contact-add-info p {
  color: #999fb3;
  font-size: 16px;
  margin-top: 18px;
}

.single-contact-add-info i {
  margin-right: 15px;
}

.single-contact-add-info {
  margin-bottom: 26px;
}

/* Popup Login Form */
.modal .modal-title {
  font-size: 2.25rem;
}
.modal .form-group input.error {
  border: 1px solid #ff0000;
}
.modal .form-group label.error {
  color: #ff0000;
  font-size: 1.4rem;
}
.modal .login {
  background-image: linear-gradient(#018eab, #5c4181);
  text-decoration: none;
  border-radius: 2rem;
  cursor: pointer;
  color: #fff;
  text-align: center;
  border: 0;
  margin: 0 auto;
  display: block;
  font-size: 1.6rem;
  font-weight: 600;
  padding: 0.8rem 3rem;
}

/*--------------------------------------------------------------
# Navigation
--------------------------------------------------------------*/
/*--------------------------------------------------------------
## Menus
--------------------------------------------------------------*/
.sky-menu-box {
  display: flex;
  align-items: flex-end;
  z-index: 10;
}
.sky-menu-box .skydropdown html, .sky-menu-box .skydropdown body, .sky-menu-box .skydropdown iframe, .sky-menu-box .skydropdown h1, .sky-menu-box .skydropdown h2, .sky-menu-box .skydropdown h3, .sky-menu-box .skydropdown h4, .sky-menu-box .skydropdown h5, .sky-menu-box .skydropdown h6 {
  margin: 0px;
  padding: 0px;
  border: 0px;
  font: inherit;
  vertical-align: baseline;
  font-weight: normal;
  font-size: 12px;
  line-height: 18px;
  font-family: Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: subpixel-antialiased;
  font-smoothing: antialiased;
  font-smooth: antialiased;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-font-smoothing: subpixel-antialiased !important;
  font-smoothing: subpixel-antialiased !important;
  font-smooth: subpixel-antialiased;
}
.sky-menu-box .skydropdown {
  font-family: Helvetica, sans-serif;
  color: #fff;
  position: relative;
  font-size: 15px;
  padding: 0px;
  margin: 0px auto;
  width: 100%;
  max-width: 1200px;
  /* skydropdown-list */
  /* skydown-mob */
}
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .sky-menu-box .skydropdown {
    font-size: 13px !important;
  }
}
@media only screen and (max-width: 767px) {
  .sky-menu-box .skydropdown {
    width: 96%;
    padding: 48px 0px 0px 0px !important;
    background-color: #ffffff;
    margin: 3px 0;
    border: solid 1px #e0e0e0;
  }
}
@media only screen and (max-width: 767px) {
  .sky-menu-box .skydropdown .skydropdownarrow-rotate > i {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
  }
}
@media only screen and (max-width: 767px) {
  .sky-menu-box .skydropdown .skydropdown-rotate {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
  }
}
@media only screen and (max-width: 767px) {
  .sky-menu-box .skydropdown .skydropdown-mob {
    display: block;
  }
}
.sky-menu-box .skydropdown .skydropdown-anim-arrw {
  display: none;
}
@media only screen and (max-width: 767px) {
  .sky-menu-box .skydropdown .skydropdown-anim-arrw {
    display: block !important;
    width: 50px;
    height: 42px;
    position: absolute;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer;
    right: 5px;
    text-align: center;
    top: 3px;
    vertical-align: middle;
    z-index: 1000;
  }
}
@media only screen and (max-width: 767px) {
  .sky-menu-box .skydropdown .skydropdown-anim-arrw span {
    display: block;
    position: absolute;
    height: 5px;
    width: 50%;
    background: #008fac;
    opacity: 1;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
  }
}
@media only screen and (max-width: 767px) {
  .sky-menu-box .skydropdown .skydropdown-anim-arrw span:nth-child(even) {
    left: 50%;
  }
}
@media only screen and (max-width: 767px) {
  .sky-menu-box .skydropdown .skydropdown-anim-arrw span:nth-child(odd) {
    left: 0px;
  }
}
@media only screen and (max-width: 767px) {
  .sky-menu-box .skydropdown .skydropdown-anim-arrw span:nth-child(1) {
    top: 5px;
  }
}
@media only screen and (max-width: 767px) {
  .sky-menu-box .skydropdown .skydropdown-anim-arrw span:nth-child(2) {
    top: 5px;
  }
}
@media only screen and (max-width: 767px) {
  .sky-menu-box .skydropdown .skydropdown-anim-arrw span:nth-child(3) {
    top: 18px;
  }
}
@media only screen and (max-width: 767px) {
  .sky-menu-box .skydropdown .skydropdown-anim-arrw span:nth-child(4) {
    top: 18px;
  }
}
@media only screen and (max-width: 767px) {
  .sky-menu-box .skydropdown .skydropdown-anim-arrw span:nth-child(5) {
    top: 32px;
  }
}
@media only screen and (max-width: 767px) {
  .sky-menu-box .skydropdown .skydropdown-anim-arrw span:nth-child(6) {
    top: 32px;
  }
}
@media only screen and (max-width: 767px) {
  .sky-menu-box .skydropdown .skydropdown-anim-arrw.skydropdown-lines span:nth-child(1) {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
  }
}
@media only screen and (max-width: 767px) {
  .sky-menu-box .skydropdown .skydropdown-anim-arrw.skydropdown-lines span:nth-child(6) {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
  }
}
@media only screen and (max-width: 767px) {
  .sky-menu-box .skydropdown .skydropdown-anim-arrw.skydropdown-lines span:nth-child(2) {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }
}
@media only screen and (max-width: 767px) {
  .sky-menu-box .skydropdown .skydropdown-anim-arrw.skydropdown-lines span:nth-child(5) {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }
}
@media only screen and (max-width: 767px) {
  .sky-menu-box .skydropdown .skydropdown-anim-arrw.skydropdown-lines span:nth-child(1) {
    left: 5px;
    top: 13px;
  }
}
@media only screen and (max-width: 767px) {
  .sky-menu-box .skydropdown .skydropdown-anim-arrw.skydropdown-lines span:nth-child(2) {
    left: calc(50% - 5px);
    top: 13px;
  }
}
@media only screen and (max-width: 767px) {
  .sky-menu-box .skydropdown .skydropdown-anim-arrw.skydropdown-lines span:nth-child(3) {
    left: -50%;
    opacity: 0;
  }
}
@media only screen and (max-width: 767px) {
  .sky-menu-box .skydropdown .skydropdown-anim-arrw.skydropdown-lines span:nth-child(4) {
    left: 100%;
    opacity: 0;
  }
}
@media only screen and (max-width: 767px) {
  .sky-menu-box .skydropdown .skydropdown-anim-arrw.skydropdown-lines span:nth-child(5) {
    left: 5px;
    top: 29px;
  }
}
@media only screen and (max-width: 767px) {
  .sky-menu-box .skydropdown .skydropdown-anim-arrw.skydropdown-lines span:nth-child(6) {
    left: calc(50% - 5px);
    top: 29px;
  }
}
.sky-menu-box .skydropdown .skydropdown-text {
  display: none;
}
@media only screen and (max-width: 767px) {
  .sky-menu-box .skydropdown .skydropdown-text {
    display: block !important;
    width: 50%;
    position: absolute;
    top: 0px;
    left: 0px;
    font: 600 20px "Raleway", sans-serif;
    color: #6c1b70;
    line-height: 48px;
    text-indent: 25px;
    text-transform: none;
  }
}
.sky-menu-box .skydropdown .cl {
  clear: both;
}
.sky-menu-box .skydropdown img, .sky-menu-box .skydropdown object, .sky-menu-box .skydropdown embed, .sky-menu-box .skydropdown video {
  border: 0 none;
  max-width: 100%;
}
.sky-menu-box .skydropdown a:focus {
  outline: none !important;
}
.sky-menu-box .skydropdown:before, .sky-menu-box .skydropdown:after {
  content: "";
  display: table;
}
.sky-menu-box .skydropdown:after {
  clear: both;
}
.sky-menu-box .skydropdown .skydropdown-list {
  padding: 0;
  list-style-type: none;
  /* end menu-big */
  /* skydropdown-submenu */
}
@media only screen and (min-width: 768px) {
  .sky-menu-box .skydropdown .skydropdown-list {
    margin: 0;
    display: flex;
    justify-content: space-evenly;
  }
}
@media only screen and (max-width: 767px) {
  .sky-menu-box .skydropdown .skydropdown-list {
    display: none;
  }
}
.sky-menu-box .skydropdown .skydropdown-list .skydropdown-click {
  display: none;
}
@media only screen and (max-width: 767px) {
  .sky-menu-box .skydropdown .skydropdown-list .skydropdown-click {
    position: absolute;
    top: 0;
    right: 0;
    display: block;
    cursor: pointer;
    z-index: 100;
    width: 13%;
    height: 46px;
  }
}
@media only screen and (max-width: 767px) {
  .sky-menu-box .skydropdown .skydropdown-list .skydropdown-click i {
    display: block;
    width: 25px;
    margin-right: 8px;
    margin-top: 14px;
    background-size: 25px;
    font-size: 21px;
    color: #fff;
    float: right;
    text-align: center;
  }
}
.sky-menu-box .skydropdown .skydropdown-list .skydropdown-clk-two {
  display: none;
}
@media only screen and (max-width: 767px) {
  .sky-menu-box .skydropdown .skydropdown-list .skydropdown-clk-two {
    position: absolute;
    top: 0;
    right: 0;
    display: block;
    cursor: pointer;
    z-index: 100;
    /* change */
    width: 13%;
    height: 47px;
  }
}
@media only screen and (max-width: 767px) {
  .sky-menu-box .skydropdown .skydropdown-list .skydropdown-clk-two i {
    display: block;
    height: 23px;
    width: 25px;
    margin-top: 11px;
    margin-right: 12px;
    background-size: 25px;
    font-size: 21px;
    color: rgba(0, 0, 0, 0.25);
    float: right;
    text-align: center;
  }
}
.sky-menu-box .skydropdown .skydropdown-list .typography-text {
  padding: 0px 0px;
  font-size: 15px;
}
.sky-menu-box .skydropdown .skydropdown-list .typography-text p {
  text-align: justify;
  line-height: 24px;
  color: #656565;
}
.sky-menu-box .skydropdown .skydropdown-list .typography-text ul li {
  display: block;
  padding: 2px 0px;
  line-height: 22px;
}
.sky-menu-box .skydropdown .skydropdown-list .typography-text ul li a {
  color: #656565;
}
.sky-menu-box .skydropdown .skydropdown-list .hometext {
  display: none;
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .sky-menu-box .skydropdown .skydropdown-list .hometext {
    display: block !important;
  }
}
@media only screen and (max-width: 767px) {
  .sky-menu-box .skydropdown .skydropdown-list .hometext {
    display: inline-block;
  }
}
.sky-menu-box .skydropdown .skydropdown-list .skydown-menuopner {
  display: none !important;
}
.sky-menu-box .skydropdown .skydropdown-list .menu-big {
  width: 100%;
  left: 0px;
  position: absolute;
  top: 48px;
  color: #000;
  z-index: 1000;
  margin: 0px;
  text-align: left;
  padding: 14px;
  font-size: 15px;
  border: solid 1px #eeeeee;
  background-color: #fff;
  opacity: 0;
  -o-transform-origin: 0% 0%;
  -ms-transform-origin: 0% 0%;
  -moz-transform-origin: 0% 0%;
  -webkit-transform-origin: 0% 0%;
  -o-transition: -o-transform 0.3s, opacity 0.3s;
  -ms-transition: -ms-transform 0.3s, opacity 0.3s;
  -moz-transition: -moz-transform 0.3s, opacity 0.3s;
  -webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
}
.sky-menu-box .skydropdown .skydropdown-list .menu-big .carousel-inner .item img {
  width: 100%;
}
.sky-menu-box .skydropdown .skydropdown-list .menu-big .carousel-caption {
  bottom: 0px;
  background-color: rgba(0, 0, 0, 0.7);
  font-size: 13px;
  height: 31px;
  left: 0;
  padding: 7px 0;
  right: 0;
  width: 100%;
}
.sky-menu-box .skydropdown .skydropdown-list .menu-big .right.carousel-control {
  padding-top: 20%;
}
.sky-menu-box .skydropdown .skydropdown-list .menu-big .left.carousel-control {
  padding-top: 20%;
}
.sky-menu-box .skydropdown .skydropdown-list .menu-big .show-grid div {
  padding-bottom: 10px;
  padding-top: 10px;
  background-color: #dbdbdb;
  border: 1px solid #e7e7e7;
  color: #6a6a6a;
  margin: 2px 0px;
}
.sky-menu-box .skydropdown .skydropdown-list .menu-big .mrgtop {
  margin-top: 15px;
}
.sky-menu-box .skydropdown .skydropdown-list .menu-big li:hover > a {
  background: transparent !important;
}
.sky-menu-box .skydropdown .skydropdown-list .menu-big li a:hover {
  background: transparent !important;
  text-decoration: underline;
}
.sky-menu-box .skydropdown .skydropdown-list .menu-big li .fa {
  margin-right: 5px;
  text-align: center;
  width: 18px;
}
.sky-menu-box .skydropdown .skydropdown-list .menu-big iframe {
  width: 100%;
  margin-top: 10px;
  min-height: 200px;
}
.sky-menu-box .skydropdown .skydropdown-list .menu-big video {
  width: 100%;
  margin-top: 10px;
  min-height: 200px;
}
.sky-menu-box .skydropdown .skydropdown-list .menu-big .title {
  border-bottom: 1px solid #CCC;
  font-size: 14px;
  padding: 9px 5px 9px 0px;
  font-size: 17px;
  color: #fff;
  margin: 0px 0px 7px 0px;
  text-align: left;
  height: 39px;
}
.sky-menu-box .skydropdown .skydropdown-list .menu-big .link-list li {
  display: block;
  text-align: center;
  white-space: nowrap;
  text-align: left;
}
.sky-menu-box .skydropdown .skydropdown-list .menu-big .link-list li a {
  line-height: 18px;
  border-right: none;
  text-align: left;
  padding: 6px 0px;
  background: #fff !important;
  background-image: none !important;
  color: #666666 !important;
  border-right: 0 none !important;
  display: block;
  border-right: 1px solid #e7e7e7;
  background-color: #fff;
  color: #fff;
}
.sky-menu-box .skydropdown .skydropdown-list .menu-big .link-list .fa {
  font-size: 11px;
}
.sky-menu-box .skydropdown .skydropdown-list .menu-big .menu_form {
  width: 100%;
  display: block;
}
.sky-menu-box .skydropdown .skydropdown-list .menu-big .menu_form input[type="text"] {
  width: 100%;
  border: 1px solid #e2e2e2;
  color: #000;
  font-size: 13px;
  padding: 8px 5px;
  margin-bottom: 8px;
}
.sky-menu-box .skydropdown .skydropdown-list .menu-big .menu_form input[type="submit"] {
  width: 25%;
  display: block;
  height: 28px;
  float: right;
  border: solid 1px #ccc;
  margin-right: 15px;
}
.sky-menu-box .skydropdown .skydropdown-list .menu-big .menu_form textarea {
  width: 100%;
  border: 1px solid #e2e2e2;
  color: #000;
  font-size: 13px;
  padding: 8px 5px;
  margin-bottom: 8px;
  min-height: 122px;
}
.sky-menu-box .skydropdown .skydropdown-list .menu-big .menu_form input[type="button"] {
  width: 25%;
  display: block;
  height: 28px;
  float: right;
  border: solid 1px #ccc;
}
.sky-menu-box .skydropdown .skydropdown-list .halfmenu {
  width: 40%;
  right: auto !important;
  left: auto !important;
}
@media only screen and (max-width: 767px) {
  .sky-menu-box .skydropdown .skydropdown-list .halfmenu {
    width: 100% !important;
  }
}
.sky-menu-box .skydropdown .skydropdown-list .halfmenu .big-col-link {
  width: 48%;
  float: left;
  margin: 0% 1%;
}
.sky-menu-box .skydropdown .skydropdown-list .halfdiv {
  width: 35%;
  right: 0px !important;
  left: auto;
}
@media only screen and (max-width: 767px) {
  .sky-menu-box .skydropdown .skydropdown-list .halfdiv {
    width: 100% !important;
  }
}
@media only screen and (min-width: 768px) {
  .sky-menu-box .skydropdown .skydropdown-list > li {
    padding: 2.5% 0;
  }
}
@media only screen and (min-width: 768px) {
  .sky-menu-box .skydropdown .skydropdown-list > li.current-menu-item {
    border-bottom: 5px solid #00c1e6 !important;
    transition: border-bottom 0.3s;
  }
}
.sky-menu-box .skydropdown .skydropdown-list > li.current-menu-item a {
  color: #00c1e6;
}
@media only screen and (max-width: 767px) {
  .sky-menu-box .skydropdown .skydropdown-list > li {
    width: 100%;
    float: none;
    text-align: left;
    clear: left;
  }
}
@media only screen and (max-width: 767px) {
  .sky-menu-box .skydropdown .skydropdown-list > li > .menu-big {
    position: static;
    display: none;
  }
}
@media only screen and (max-width: 767px) {
  .sky-menu-box .skydropdown .skydropdown-list > li > .skydropdown-submenu {
    position: static !important;
  }
}
.sky-menu-box .skydropdown .skydropdown-list > li > a {
  display: block;
  color: #fff;
  font: 18px "Raleway", sans-serif;
  transition: 0.3s color;
  line-height: 48px;
  text-decoration: none;
  position: relative;
}
@media only screen and (max-width: 767px) {
  .sky-menu-box .skydropdown .skydropdown-list > li > a {
    border-right: none;
    padding: 13px;
    line-height: 20px;
    text-transform: none;
  }
}
.sky-menu-box .skydropdown .skydropdown-list > li > a .fa {
  display: inline-block;
  font-size: 14px;
  line-height: inherit;
  margin-right: 0px;
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .sky-menu-box .skydropdown .skydropdown-list > li > a > .fa {
    display: none !important;
  }
}
.sky-menu-box .skydropdown .skydropdown-list > li > a:hover {
  color: #00c1e6;
}
.sky-menu-box .skydropdown .skydropdown-list > li > a.active {
  background-color: rgba(0, 0, 0, 0.08) !important;
  text-decoration: none;
}
@media only screen and (max-width: 767px) {
  .sky-menu-box .skydropdown .skydropdown-list > li > a > .arrow {
    display: none !important;
  }
}
.sky-menu-box .skydropdown .skydropdown-list > li:hover {
  /*                    @media only screen and (min-width: $screen-sm-min) {
                          border-bottom: 5px solid $color__menu_thunderbird;
                          transition: border-bottom 0.3s;
                      }*/
}
@media only screen and (max-width: 767px) {
  .sky-menu-box .skydropdown .skydropdown-list > li:hover .skydropdown-submenu {
    display: none;
  }
}
.sky-menu-box .skydropdown .skydropdown-list > li.menu-item-has-children:hover {
  border-bottom: 0;
}
.sky-menu-box .skydropdown .skydropdown-list li ul li a .fa.fa-angle-double-right {
  font-size: 12px;
  margin: 0 3px 0 -4px;
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .sky-menu-box .skydropdown .skydropdown-list li a {
    white-space: nowrap !important;
    padding-left: 4px !important;
    padding-right: 4px !important;
  }
}
.sky-menu-box .skydropdown .skydropdown-list li a .arrow:after {
  border-left: 4px solid rgba(0, 0, 0, 0);
  border-right: 4px solid rgba(0, 0, 0, 0);
  border-top: 4px solid #fff;
  content: "";
  float: right;
  height: 0;
  margin: 0 0 0 5%;
  position: absolute;
  text-align: right;
  top: 22px;
  width: 0;
}
@media only screen and (max-width: 767px) {
  .sky-menu-box .skydropdown .skydropdown-list li a .arrow:after {
    display: none !important;
  }
}
.sky-menu-box .skydropdown .skydropdown-list li a:hover .arrow:after {
  border-top-color: #fff;
}
.sky-menu-box .skydropdown .skydropdown-list li a.active .arrow:after {
  border-top-color: #fff;
}
.sky-menu-box .skydropdown .skydropdown-list li:hover .skydropdown-submenu {
  display: block;
}
.sky-menu-box .skydropdown .skydropdown-list li:hover .menu-big {
  opacity: 1;
}
.sky-menu-box .skydropdown .skydropdown-list li:hover > .menu-big {
  transform: rotateX(0deg);
  -o-transform: rotateX(0deg);
  -moz-transform: rotateX(0deg);
  -webkit-transform: rotateX(0deg);
  opacity: 1;
  visibility: visible;
}
@media only screen and (min-width: 768px) {
  .sky-menu-box .skydropdown .skydropdown-list li:hover > .menu-big {
    display: block !important;
  }
}
@media only screen and (max-width: 767px) {
  .sky-menu-box .skydropdown .skydropdown-list li:hover > .menu-big {
    transform: none !important;
    -o-transform: none !important;
    -moz-transform: none !important;
    -webkit-transform: none !important;
    transform: none !important;
    -o-transform: none !important;
    -moz-transform: none !important;
    -webkit-transform: none !important;
    visibility: visible !important;
    opacity: 1 !important;
  }
}
.sky-menu-box .skydropdown .skydropdown-list li:hover > a {
  text-decoration: none;
}
.sky-menu-box .skydropdown .skydropdown-list li:hover > a .arrow:after {
  border-top-color: #fff;
}
.sky-menu-box .skydropdown .skydropdown-list li:hover > .skydropdown-submenu {
  transform: rotateX(0deg);
  -o-transform: rotateX(0deg);
  -moz-transform: rotateX(0deg);
  -webkit-transform: rotateX(0deg);
  opacity: 1;
  visibility: visible;
}
@media only screen and (min-width: 768px) {
  .sky-menu-box .skydropdown .skydropdown-list li:hover > .skydropdown-submenu {
    display: block !important;
  }
}
@media only screen and (max-width: 767px) {
  .sky-menu-box .skydropdown .skydropdown-list li:hover > .skydropdown-submenu {
    transform: none !important;
    -o-transform: none !important;
    -moz-transform: none !important;
    -webkit-transform: none !important;
    transform: none !important;
    -o-transform: none !important;
    -moz-transform: none !important;
    -webkit-transform: none !important;
    visibility: visible !important;
    opacity: 1 !important;
    display: none;
  }
}
.sky-menu-box .skydropdown .skydropdown-list li:hover > .skydropdown-submenu-sub {
  transform: rotateX(0deg);
  -o-transform: rotateX(0deg);
  -moz-transform: rotateX(0deg);
  -webkit-transform: rotateX(0deg);
  opacity: 1;
  visibility: visible;
}
.sky-menu-box .skydropdown .skydropdown-list li:hover > .skydropdown-submenu-sub-sub {
  transform: rotateX(0deg);
  -o-transform: rotateX(0deg);
  -moz-transform: rotateX(0deg);
  -webkit-transform: rotateX(0deg);
  opacity: 1;
  visibility: visible;
}
.sky-menu-box .skydropdown .skydropdown-list li:last-child a {
  border-right: 0px solid;
}
.sky-menu-box .skydropdown .skydropdown-list li > .skydropdown-submenu {
  transform: rotateX(-85deg);
  -o-transform: rotateX(-85deg);
  -moz-transform: rotateX(-85deg);
  -webkit-transform: rotateX(-85deg);
  visibility: hidden;
}
@media only screen and (max-width: 767px) {
  .sky-menu-box .skydropdown .skydropdown-list li > .skydropdown-submenu {
    transform: none !important;
    -o-transform: none !important;
    -moz-transform: none !important;
    -webkit-transform: none !important;
    transform: none !important;
    -o-transform: none !important;
    -moz-transform: none !important;
    -webkit-transform: none !important;
    visibility: visible !important;
    opacity: 1 !important;
    display: none;
  }
}
.sky-menu-box .skydropdown .skydropdown-list li > .skydropdown-submenu-sub {
  transform: rotateX(-85deg);
  -o-transform: rotateX(-85deg);
  -moz-transform: rotateX(-85deg);
  -webkit-transform: rotateX(-85deg);
  visibility: hidden;
}
.sky-menu-box .skydropdown .skydropdown-list li > .skydropdown-submenu-sub-sub {
  transform: rotateX(-85deg);
  -o-transform: rotateX(-85deg);
  -moz-transform: rotateX(-85deg);
  -webkit-transform: rotateX(-85deg);
  visibility: hidden;
}
.sky-menu-box .skydropdown .skydropdown-list li > .menu-big {
  transform: rotateX(-85deg);
  -o-transform: rotateX(-85deg);
  -moz-transform: rotateX(-85deg);
  -webkit-transform: rotateX(-85deg);
  visibility: hidden;
}
@media only screen and (max-width: 767px) {
  .sky-menu-box .skydropdown .skydropdown-list li > .menu-big {
    transform: none !important;
    -o-transform: none !important;
    -moz-transform: none !important;
    -webkit-transform: none !important;
    transform: none !important;
    -o-transform: none !important;
    -moz-transform: none !important;
    -webkit-transform: none !important;
    visibility: visible !important;
    opacity: 1 !important;
  }
}
.sky-menu-box .skydropdown .skydropdown-list .skydropdown-submenu {
  position: absolute;
  z-index: 1000;
  margin: 0px;
  padding: 2px;
  border: solid 1px #eeeeee;
  background-color: #fff;
  opacity: 0;
  -o-transform-origin: 0% 0%;
  -ms-transform-origin: 0% 0%;
  -moz-transform-origin: 0% 0%;
  -webkit-transform-origin: 0% 0%;
  -o-transition: -o-transform 0.3s, opacity 0.3s;
  -ms-transition: -ms-transform 0.3s, opacity 0.3s;
  -moz-transition: -moz-transform 0.3s, opacity 0.3s;
  -webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
}
.sky-menu-box .skydropdown .skydropdown-list .skydropdown-submenu li {
  position: relative;
  margin: 0px;
  padding: 0px;
  display: block;
}
@media only screen and (max-width: 767px) {
  .sky-menu-box .skydropdown .skydropdown-list .skydropdown-submenu li > .skydropdown-submenu-sub {
    transform: none !important;
    -o-transform: none !important;
    -moz-transform: none !important;
    -webkit-transform: none !important;
    transform: none !important;
    -o-transform: none !important;
    -moz-transform: none !important;
    -webkit-transform: none !important;
    visibility: visible !important;
    opacity: 1 !important;
  }
}
.sky-menu-box .skydropdown .skydropdown-list .skydropdown-submenu li a {
  background-image: none !important;
  color: #666666;
  border-right: 0 none !important;
  text-align: left;
  display: block;
  line-height: 22px;
  padding: 6px 12px;
  text-transform: none;
  font-size: 13px;
  letter-spacing: normal;
  border-right: 0px solid;
}
.sky-menu-box .skydropdown .skydropdown-list .skydropdown-submenu li:hover .skydropdown-submenu-sub {
  opacity: 1;
  list-style: none;
  padding: 2px;
  border: solid 1px #eeeeee;
  background-color: #fff;
  display: block;
}
@media only screen and (min-width: 768px) {
  .sky-menu-box .skydropdown .skydropdown-list .skydropdown-submenu li:hover .skydropdown-submenu-sub {
    display: block !important;
  }
}
@media only screen and (max-width: 767px) {
  .sky-menu-box .skydropdown .skydropdown-list .skydropdown-submenu li:hover .skydropdown-submenu-sub {
    display: none;
  }
}
@media only screen and (max-width: 767px) {
  .sky-menu-box .skydropdown .skydropdown-list .skydropdown-submenu li:hover > .skydropdown-submenu-sub {
    transform: none !important;
    -o-transform: none !important;
    -moz-transform: none !important;
    -webkit-transform: none !important;
    transform: none !important;
    -o-transform: none !important;
    -moz-transform: none !important;
    -webkit-transform: none !important;
    visibility: visible !important;
    opacity: 1 !important;
  }
}
@media only screen and (max-width: 767px) {
  .sky-menu-box .skydropdown .skydropdown-list .skydropdown-submenu > li {
    margin: 0px 0px 0px 0px !important;
  }
}
.sky-menu-box .skydropdown .skydropdown-list .skydropdown-submenu > li a {
  -webkit-transition: background-color 0.2s ease-in-out;
  transition: background-color 0.2s ease-in-out;
}
.sky-menu-box .skydropdown .skydropdown-list .skydropdown-submenu > li a .fa:before {
  color: #666;
}
@media only screen and (max-width: 767px) {
  .sky-menu-box .skydropdown .skydropdown-list .skydropdown-submenu > li a.active {
    color: #000 !important;
  }
}
.sky-menu-box .skydropdown .skydropdown-list .skydropdown-submenu > li a:hover {
  background: #cc3037;
  color: #fff;
  text-decoration: none;
}
.sky-menu-box .skydropdown .skydropdown-list .skydropdown-submenu > li a:hover .fa:before {
  color: #fff;
}
@media only screen and (max-width: 767px) {
  .sky-menu-box .skydropdown .skydropdown-list .skydropdown-submenu > li > a {
    display: block;
    color: #000;
    padding: 12px 40px;
    background: #fff !important;
    border-bottom: solid 1px #ccc;
  }
}
.sky-menu-box .skydropdown .skydropdown-list .skydropdown-submenu > li.permahover a .fa:before {
  color: #fff;
}
.sky-menu-box .skydropdown .skydropdown-list .skydropdown-submenu > li.permahover ul li a {
  color: #666;
}
.sky-menu-box .skydropdown .skydropdown-list .skydropdown-submenu > li.permahover ul li a .fa:before {
  color: #666;
}
.sky-menu-box .skydropdown .skydropdown-list .skydropdown-submenu > li.permahover ul li a:hover {
  background: #cc3037;
  color: #fff;
}
.sky-menu-box .skydropdown .skydropdown-list .skydropdown-submenu > li.permahover ul li a:hover .fa:before {
  color: #fff;
}
.sky-menu-box .skydropdown .skydropdown-list .skydropdown-submenu > li.permahover ul li.permahover > a {
  background: #cc3037;
  color: #fff;
}
.sky-menu-box .skydropdown .skydropdown-list .skydropdown-submenu > li.permahover ul li.permahover > a .fa:before {
  color: #fff;
}
.sky-menu-box .skydropdown .skydropdown-list .skydropdown-submenu > li:hover {
  background: #cc3037;
}
.sky-menu-box .skydropdown .skydropdown-list .skydropdown-submenu > li:hover a {
  color: #fff;
}
@media only screen and (max-width: 767px) {
  .sky-menu-box .skydropdown .skydropdown-list .skydropdown-submenu > li:hover > a {
    background-color: #f5f5f5 !important;
    color: #000;
  }
}
.sky-menu-box .skydropdown .skydropdown-list .skydropdown-submenu .skydropdown-submenu-sub {
  min-width: 180px;
  position: absolute;
  left: 100%;
  top: 0;
  margin: 0px;
  padding: 0px;
  opacity: 0;
  -o-transform-origin: 0% 0%;
  -ms-transform-origin: 0% 0%;
  -moz-transform-origin: 0% 0%;
  -webkit-transform-origin: 0% 0%;
  -o-transition: -o-transform 0.4s, opacity 0.4s;
  -ms-transition: -ms-transform 0.4s, opacity 0.4s;
  -moz-transition: -moz-transform 0.4s, opacity 0.4s;
  -webkit-transition: -webkit-transform 0.4s, opacity 0.4s;
}
@media only screen and (max-width: 767px) {
  .sky-menu-box .skydropdown .skydropdown-list .skydropdown-submenu .skydropdown-submenu-sub {
    width: 100%;
    position: static !important;
    left: 100%;
    top: 0;
    display: none;
    margin: 0px;
    padding: 0px;
  }
}
.sky-menu-box .skydropdown .skydropdown-list .skydropdown-submenu .skydropdown-submenu-sub .skydropdown-submenu-sub-sub {
  min-width: 220px;
  position: absolute;
  left: 100%;
  top: 0;
  margin: 0px;
  padding: 0px;
  opacity: 0;
  -o-transform-origin: 0% 0%;
  -ms-transform-origin: 0% 0%;
  -moz-transform-origin: 0% 0%;
  -webkit-transform-origin: 0% 0%;
  -o-transition: -o-transform 0.4s, opacity 0.4s;
  -ms-transition: -ms-transform 0.4s, opacity 0.4s;
  -moz-transition: -moz-transform 0.4s, opacity 0.4s;
  -webkit-transition: -webkit-transform 0.4s, opacity 0.4s;
}
@media only screen and (max-width: 767px) {
  .sky-menu-box .skydropdown .skydropdown-list .skydropdown-submenu .skydropdown-submenu-sub .skydropdown-submenu-sub-sub {
    width: 100%;
    position: static !important;
    left: 100%;
    top: 0;
    display: none;
    margin: 0px;
    padding: 0px;
  }
}
@media only screen and (max-width: 767px) {
  .sky-menu-box .skydropdown .skydropdown-list .skydropdown-submenu .skydropdown-submenu-sub .skydropdown-submenu-sub-sub > li {
    margin: 0px 0px 0px 0px !important;
  }
}
@media only screen and (max-width: 767px) {
  .sky-menu-box .skydropdown .skydropdown-list .skydropdown-submenu .skydropdown-submenu-sub .skydropdown-submenu-sub-sub > li > a {
    display: block;
    color: #000;
    padding: 10px 25px 10px 25px;
    background: #fff !important;
    border-bottom: solid 1px #ccc;
    font-weight: normal;
  }
}
@media only screen and (max-width: 767px) {
  .sky-menu-box .skydropdown .skydropdown-list .skydropdown-submenu .skydropdown-submenu-sub .skydropdown-submenu-sub-sub > li a.active {
    color: #000 !important;
  }
}
@media only screen and (max-width: 767px) {
  .sky-menu-box .skydropdown .skydropdown-list .skydropdown-submenu .skydropdown-submenu-sub .skydropdown-submenu-sub-sub > li:hover > a {
    background-color: #EBEBEB !important;
    color: #fff;
  }
}
@media only screen and (max-width: 767px) {
  .sky-menu-box .skydropdown .skydropdown-list .skydropdown-submenu .skydropdown-submenu-sub li > .skydropdown-submenu-sub-sub {
    transform: none !important;
    -o-transform: none !important;
    -moz-transform: none !important;
    -webkit-transform: none !important;
    transform: none !important;
    -o-transform: none !important;
    -moz-transform: none !important;
    -webkit-transform: none !important;
    visibility: visible !important;
    opacity: 1 !important;
  }
}
.sky-menu-box .skydropdown .skydropdown-list .skydropdown-submenu .skydropdown-submenu-sub li:hover .skydropdown-submenu-sub-sub {
  opacity: 1;
  list-style: none;
  padding: 2px;
  border: solid 1px #eeeeee;
  background-color: #fff;
}
@media only screen and (min-width: 768px) {
  .sky-menu-box .skydropdown .skydropdown-list .skydropdown-submenu .skydropdown-submenu-sub li:hover > .skydropdown-submenu-sub-sub {
    display: block !important;
  }
}
@media only screen and (max-width: 767px) {
  .sky-menu-box .skydropdown .skydropdown-list .skydropdown-submenu .skydropdown-submenu-sub li:hover > .skydropdown-submenu-sub-sub {
    transform: none !important;
    -o-transform: none !important;
    -moz-transform: none !important;
    -webkit-transform: none !important;
    transform: none !important;
    -o-transform: none !important;
    -moz-transform: none !important;
    -webkit-transform: none !important;
    visibility: visible !important;
    opacity: 1 !important;
  }
}
@media only screen and (max-width: 767px) {
  .sky-menu-box .skydropdown .skydropdown-list .skydropdown-submenu .skydropdown-submenu-sub > li {
    margin: 0px 0px 0px 0px !important;
    padding: 0px;
    position: relative;
  }
}
@media only screen and (max-width: 767px) {
  .sky-menu-box .skydropdown .skydropdown-list .skydropdown-submenu .skydropdown-submenu-sub > li > a {
    display: block;
    color: #000;
    padding: 10px 25px 10px 60px;
    background: #fff !important;
    border-bottom: solid 1px #ccc;
    font-weight: normal;
  }
}
@media only screen and (max-width: 767px) {
  .sky-menu-box .skydropdown .skydropdown-list .skydropdown-submenu .skydropdown-submenu-sub > li > a.active {
    color: #000 !important;
  }
}
@media only screen and (max-width: 767px) {
  .sky-menu-box .skydropdown .skydropdown-list .skydropdown-submenu .skydropdown-submenu-sub > li:hover > a {
    background-color: #EBEBEB !important;
    /*color: #fff;*/
  }
}
@media only screen and (max-width: 767px) {
  .sky-menu-box .skydropdown .skydropdown-list .skydropdown-submenu .skydropdown-submenu-sub > li li a {
    padding: 10px 25px 10px 75px;
  }
}
.sky-menu-box .skydropdown .skydropdown-list .skydropdown-submenu .fa {
  margin-right: 7px;
}
.sky-menu-box .skydropdown .skydropdown-list .skydropdown-submenu .fa:before {
  color: #fff;
}
@media only screen and (max-width: 767px) {
  .sky-menu-box .skydropdown .skydropdown-list .skydropdown-submenu .fa.fa-angle-right {
    display: none;
  }
}
@media only screen and (max-width: 767px) {
  .sky-menu-box .skydropdown .skydown-mob {
    margin: 0px;
    padding: 0px;
    list-style: none;
    float: none;
    width: 100%;
  }
}
@media only screen and (max-width: 767px) {
  .sky-menu-box .skydropdown .skydown-mob > li {
    margin: 0px 0px 0px 0px !important;
    display: block;
    position: relative;
  }
}
@media only screen and (max-width: 767px) {
  .sky-menu-box .skydropdown .skydown-mob > li:last-child {
    padding: 40px 0 0;
  }
}
@media only screen and (max-width: 767px) {
  .sky-menu-box .skydropdown .skydown-mob > li > a {
    display: block;
    color: #000;
    padding: 15px 25px;
    background-color: white !important;
    border-bottom: solid 1px rgba(0, 0, 0, 0.18);
  }
}
@media only screen and (max-width: 767px) {
  .sky-menu-box .skydropdown .skydown-mob > li > a.active {
    box-shadow: none;
  }
}
@media only screen and (max-width: 767px) {
  .sky-menu-box .skydropdown .skydown-mob > li:hover > a {
    box-shadow: none;
  }
}

/*--------------------------------------------------------------
# Layout
--------------------------------------------------------------*/
/*--------------------------------------------------------------
## Layout
--------------------------------------------------------------*/
.top-wrapper {
  background: url(../i/header.jpg) no-repeat;
  background-size: cover;
  background-position: center;
}
.top-wrapper .header-area {
  background: transparent;
  transition: 1s background;
}
.is-sticky .header-area {
  background: #fff;
  z-index: 10 !important;
  box-shadow: 0px 0px 19px -3px rgba(0, 0, 0, 0.36);
}
.is-sticky .header-area .skydropdown-list > li > a {
  color: #008eab;
}
.top-wrapper .header-area .skydropdown-list.skydown-mob > li > a {
  color: #008eab;
}
.top-wrapper .header-area .skydropdown-list.skydown-mob > li > a.like-a-button-grad {
  color: #fff;
  margin-bottom: 10px;
  padding: 9px 25px;
}
.top-wrapper .header-area .skydropdown-list.skydown-mob > li > a.like-a-button-grad:last-child {
  margin-bottom: 0;
}
.top-wrapper .header-area .navbar-brand {
  display: block;
  padding-top: 2rem;
}
@media only screen and (max-width: 767px) {
  .top-wrapper .header-area .navbar-brand {
    padding-top: 0.6rem;
  }
}
.top-wrapper .header-area .navbar-brand img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.top-wrapper .welcome-hero {
  display: flex;
  justify-content: center;
  position: relative;
  padding: 12% 0 17%;
  margin: 0;
}
.top-wrapper .welcome-hero .header-text h2 {
  color: #fff;
  font: 600 3.8rem/4rem "Poppins";
}
@media only screen and (max-width: 767px) {
  .top-wrapper .welcome-hero .header-text h2 {
    font: 600 2.2rem/4rem "Poppins";
  }
}
.top-wrapper .welcome-hero .header-text h2 span {
  color: #202a37;
}

.footer-copyright {
  background: #bee2ea;
  overflow: hidden;
  padding: 40px 0 0;
}
.footer-copyright .footer-list h4 {
  font-size: 1.6rem;
  font-weight: 900;
  color: #008eab;
}
.footer-copyright .footer-list ul {
  list-style-type: none;
  padding: 0;
}
.footer-copyright .footer-list ul li {
  color: #5a5757;
  font-size: 1.4rem;
  font-weight: 600;
}
.footer-copyright .footer-list ul li a {
  color: #5a5757;
}
.footer-copyright .hm-footer-copyright p {
  font-size: 1.3rem;
  font-weight: 600;
  padding-bottom: 1.5rem;
}
.footer-copyright .hm-footer-copyright p a {
  color: #737373;
  text-decoration: none;
}
.footer-copyright .hm-footer-copyright p i.fa-linkedin-in {
  color: #004f77;
  font-size: 2.6rem;
}

/*--------------------------------------------------------------
# Pages
--------------------------------------------------------------*/
.wrapper {
  /* What we do page*/
  /* Pricing page*/
}
.wrapper section {
  margin: 8.2rem 0;
}
.wrapper .whatwedo .price-whatwedo {
  text-align: center;
  margin: 5.4rem 0 0;
}
.wrapper .whatwedo .price-whatwedo h3 {
  margin: 15px 0;
}
.wrapper .whatwedo .price-whatwedo p {
  font-size: 1.4rem;
}
.wrapper .pricing .price-table-wrapper {
  text-align: center;
  margin-top: 30px;
}
.wrapper .pricing .price-table-wrapper .featured-table {
  box-shadow: 0px 0px 19px -3px rgba(0, 0, 0, 0.36);
}
.wrapper .pricing .price-table-wrapper .pricing-table {
  display: inline-block;
  border: 1px solid #008eab;
  border-radius: 10px;
  background: white;
  transition: all 0.3s ease-in-out;
  width: 100%;
  max-width: 28rem;
  margin: 0 0 2rem;
}
.wrapper .pricing .price-table-wrapper .pricing-table__header {
  padding: 10px;
  font-size: 2rem;
  color: #fff;
  border-radius: 9px;
  background: #008eab;
  line-height: 3.1rem;
}
.wrapper .pricing .price-table-wrapper .pricing-table__header span {
  font-size: 1.6rem;
  display: block;
  font-weight: 400;
}
.wrapper .pricing .price-table-wrapper .pricing-table__price {
  color: #000;
  padding: 26px 20px 40px;
  margin: auto;
  font-size: 3.6rem;
  font-weight: 600;
}
.wrapper .pricing .price-table-wrapper .pricing-table__price span {
  font-size: 1.8rem;
}
.wrapper .pricing .price-table-wrapper .pricing-table__button {
  display: block;
  font-size: 1.8rem;
  background: #008eab;
  text-decoration: none;
  padding: 20px;
  color: white;
  position: relative;
  overflow: hidden;
  transition: all 0.3s ease-in-out;
}
.wrapper .pricing .price-table-wrapper .pricing-table__button:before {
  position: absolute;
  left: -20%;
  top: -10%;
  content: '';
  width: 60%;
  height: 220%;
  transform: rotate(-30deg);
  background: white;
  opacity: .3;
  transition: all 0.3s ease-in-out;
}
.wrapper .pricing .price-table-wrapper .pricing-table__button:after {
  position: absolute;
  content: '>';
  top: 0;
  right: 0;
  font-size: 25px;
  padding: 13px;
  padding-right: 40px;
  color: white;
  opacity: 0;
  transition: all 0.3s ease-in-out;
}
.wrapper .pricing .price-table-wrapper .pricing-table__button:hover {
  background: #6c1b70;
}
.wrapper .pricing .price-table-wrapper .pricing-table__list {
  padding: 10px;
  font-size: 1.4rem;
  color: #000;
  list-style-type: none;
}
.wrapper .pricing .price-table-wrapper .pricing-table__list li {
  padding: 10px 0 0 5px;
  text-align: left;
}
.wrapper .pricing .price-table-wrapper .pricing-table__list li i {
  color: #008eab;
  font-size: 20px;
  margin-right: 1rem;
  top: 3px;
  position: relative;
}
.wrapper .pricing .price-table-wrapper .pricing-table__list li:last-child {
  border: none;
}
.wrapper .pricing .price-table-wrapper .pricing-table:hover {
  box-shadow: 0px 0px 19px -3px rgba(0, 0, 0, 0.36);
}
.wrapper .pricing .price-table-wrapper .pricing-table:hover .pricing-table__button {
  padding-left: 0;
  padding-right: 35px;
}
.wrapper .pricing .price-table-wrapper .pricing-table:hover .pricing-table__button:before {
  top: -80%;
  transform: rotate(0deg);
  width: 100%;
}
.wrapper .pricing .price-table-wrapper .pricing-table:hover .pricing-table__button:after {
  opacity: 1;
  padding-right: 15px;
}

/*# sourceMappingURL=style.css.map */
